@import './../../styles/mixins/fonts.scss';
@import './../../styles/variables/colors.scss';

.dropdown {
    display: grid;
    box-sizing: border-box;
    width: 320px;
    z-index: 0;

    &__button {
        display: grid;
        padding: 9px 0 9px 0px;
        box-sizing: border-box;
        grid-template-columns: 86.25% 13.75%;
        width: 320px;

        background: #ffffff;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        /* Dark 50% */

        border: 1px solid rgba(31, 32, 65, 0.5);
        box-sizing: border-box;
        border-radius: 2px 2px 0px 0px;

        //

        /* Сколько гостей */

        @include body-font;

        /* Dark 75% */
        color: rgba(31, 32, 65, 0.75);
    }
    &__text {
        padding-left: 15px;
        // margin-bottom: 5px;
    }
    &__img-box {
        display: grid;
        width: 44px;
        align-items: center;
        justify-content: center;
    }

    img {
        position: relative;
    }
    &__increase {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 30px;
        height: 30px;

        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 22px;

        margin-top: 7px;
        margin-right: 7px;
        cursor: pointer;
    }

    &__decrease {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 7px;
        /* Rectangle 2 */

        width: 30px;
        height: 30px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 22px;
        cursor: pointer;
    }
    &__popup {
        position: absolute;

        display: grid;
        grid-template-rows: 37px 37px 37px 48px;

        grid-template-columns: 69.0625% 9.375% 10% 11.5625%;
        width: 320px;
        // height: 159px;

        background: #ffffff;
        /* Dark 50% */
        border: 1px solid rgba(31, 32, 65, 0.5);
        box-sizing: border-box;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        border-radius: 0px 0px 2px 2px;
        z-index: 1;
    }
    &__counter {
        @include h3;
        text-align: center;
        /* Dark 100% */
        color: #1f2041;
        margin-top: 13px;
    }
    &__option-text {
        margin-left: 15px;
        margin-top: 13px;
        @include h3;

        /* Dark 100% */
        color: #1f2041;
    }
    &__apply {
        display: grid;
        align-content: flex-end;
        padding-bottom: 35.365%;

        /* применить */

        width: 84px;
        grid-column-start: 4;
        margin-right: 7px;
        justify-self: right;
        justify-content: right;
        @include h3(#bc9cff);
        cursor: pointer;
    }
    &__clear {
        display: grid;
        align-content: end;
        padding-bottom: 35.365%;
        margin-left: 14px;

        cursor: pointer;

        justify-self: left;

        @include h3(#bc9cff);
    }

    @media (max-width: 479px) {
    }
    @media (min-width: 480px) and (max-width: 639px) {
    }
    @media (min-width: 640px) and (max-width: 767px) {
    }
    @media (min-width: 768px) and (max-width: 1023px) {
    }
    @media (min-width: 1024px) and (max-width: 1199px) {
    }
    @media (min-width: 1200px) and (max-width: 1439px) {
    }
    @media (min-width: 1440px) {
    }
}

.hide {
    display: none !important;
}
