@import './../../styles/mixins/fonts.scss';
@import './../../styles/variables/colors.scss';

.dropdown {
    display: grid;
    box-sizing: border-box;
    width: 22.8571rem;
    z-index: 0;

    &_wide {
        width: 22.8571rem;
    }
    &_narrow {
        width: 19rem;
    }

    &__button {
        display: grid;
        padding: 0.6429rem 0 0.6429rem 0rem;
        box-sizing: border-box;
        grid-template-columns: 1fr max-content;
        width: 100%;

        background: #ffffff;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        /* Dark 50% */

        border: 0.0714rem solid rgba(31, 32, 65, 0.5);
        box-sizing: border-box;
        border-radius: 0.1429rem 0.1429rem 0rem 0rem;

        //

        /* Сколько гостей */

        @include body-font;

        /* Dark 75% */
        color: rgba(31, 32, 65, 0.75);
    }
    &__text {
        padding-left: 1rem;
        // margin-bottom: .3571rem;
    }
    &__img-box {
        display: grid;
        width: 3.1429rem;
        align-items: center;
        justify-content: center;
    }

    img {
        position: relative;
    }
    &__popup {
        position: absolute;

        display: grid;
        grid-template-rows: 2.6429rem 2.6429rem 2.1429rem 3.7143rem;

        // grid-template-columns: 69.0625% 9.375% 10% 11.5625%;
        grid-template-columns: minmax(11.9286rem, 15.7857rem) 2.1429rem 2.2857rem 2.6429rem;

        width: 22.8571rem;
        // height: 11.3571rem;

        background: #ffffff;
        /* Dark 50% */
        border: 0.0714rem solid rgba(31, 32, 65, 0.5);
        border-top: 0rem;
        box-sizing: border-box;
        box-shadow: 0rem 0.7143rem 1.4286rem rgba(31, 32, 65, 0.05);
        border-radius: 0rem 0rem 0.1429rem 0.1429rem;
        z-index: 1;
        &_wide {
            width: 22.8571rem;
        }
        &_narrow {
            width: 19rem;
        }
        &_room {
            display: grid;
            grid-template-rows: 2.6429rem 2.6429rem 2.1429rem 1rem;
            position: absolute;

            // grid-template-columns: 69.0625% 9.375% 10% 11.5625%;
            grid-template-columns: minmax(11.9286rem, 15.7857rem) 2.1429rem 2.2857rem 2.6429rem;

            // height: 11.3571rem;

            background: #ffffff;
            /* Dark 50% */
            border: 0.0714rem solid rgba(31, 32, 65, 0.5);
            border-top: 0rem;
            box-sizing: border-box;
            box-shadow: 0rem 0.7143rem 1.4286rem rgba(31, 32, 65, 0.05);
            border-radius: 0rem 0rem 0.1429rem 0.1429rem;
            z-index: 1;
        }
    }
    &__increase {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 2.1429rem;
        height: 2.1429rem;

        border: 0.0714rem solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 1.5714rem;

        margin-top: 0.5rem;
        margin-right: 0.5rem;
        cursor: pointer;
    }

    &__decrease {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.5rem;
        /* Rectangle 2 */

        width: 2.1429rem;
        height: 2.1429rem;
        border: 0.0714rem solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 1.5714rem;
        cursor: pointer;
    }

    &__counter {
        @include h3;
        text-align: center;
        /* Dark 100% */
        color: #1f2041;
        margin-top: 0.9286rem;
    }
    &__option-text {
        margin-left: 1rem;
        margin-top: 1rem;
        @include h3;

        /* Dark 100% */
        color: #1f2041;
    }
    &__adding-buttons {
        display: grid;
        box-sizing: border-box;
        width: 22.8571rem;
        grid-template-columns: 11.4286rem 11.4286rem;
        padding-top: 1.8571rem;
    }
    &__apply {
        display: grid;
        justify-self: flex-end;
        align-content: flex-end;
        padding-bottom: 30.365%;

        /* применить */

        padding-right: 0.5714rem;
        justify-self: right;
        justify-content: right;
        @include h3(#bc9cff);
        cursor: pointer;
    }
    &__clear {
        display: grid;
        align-content: end;
        padding-bottom: 30.365%;
        padding-left: 1rem;
        cursor: pointer;
        justify-self: left;

        @include h3(#bc9cff);
    }
    &__arrow-icon {
        width: 0.9286rem;
        height: 0.5714rem;
    }
}

.hide {
    display: none !important;
}
.invisible {
    visibility: hidden !important;
}
