include ../block-title/block-title
mixin pagination() 
    .pagination-container
        .pagination__page-numbers
            span(class="pagination__page-numbers_active-page") 1
            span(class="pagination__page-numbers_non-active-page") 2
            span(class="pagination__page-numbers_non-active-page") 3
            span(class="pagination__page-numbers_non-active-page") ...
            span(class="pagination__page-numbers_non-active-page") 15
            span(class="pagination__page-numbers_next-page")
                img.emotion-icon(src='./img/arrow-pagination.svg' alt='next pages' width='18' height='17')           
        p.pagination__caption  1 – 12 из 100+ вариантов аренды 