extends ../page-template/page-template

include ../../components/footer/footer
include ../../components/header/header

include ../../card-blocks/searching-card/searching-card

block headBlock
    title Landing Page  
block content 
    main.landing-page
        section.landing__header-container
            +header('signin')
        main.landing__main-container 
            +searching-card()
            p.landing__caption Лучшие номера для вашей работы, отдыха и просто вдохновения
            .landing__background
        section.landing__footer-container
            +footer('')