@import './../../styles/mixins/fonts.scss';
@import './../../styles/variables/colors.scss';

.landing {
    &-page {
        display: grid;
        grid-template-columns: 1440px;
        grid-template-rows: 70px 830px 443px;
        align-items: baseline;
    }
    &__main-container {
        height: 100%;
        display: grid;
        grid-template-rows: 374px 368px;
        padding: 70px 181px 18px 140px;
    }
    &__background {
        position: absolute;
        width: 100%;
        height: 900px;
        left: 0px;
        top: 0px;
        background-image: url(img/landing-page-img.jpg);
        background-size: 101.2% 100%;
        z-index: -1;
    }
    &__caption {
        display: grid;
        @include body-font();
        justify-content: right;
        align-self: flex-end;

        /* Dark 75% */

        color: rgba(31, 32, 65, 0.75);
    }
}
