extends ../page-template/page-template

include ../../components/footer/footer
include ../../components/header/header


include ../../card-blocks/booking-card/booking-card
include ../../card-blocks/login-card/login-card
include ../../card-blocks/registration-card/registration-card
include ../../card-blocks/room-card/room-card
include ../../card-blocks/searching-card/searching-card


block content 
    main.landing-page
        section.landing__header-container
            +header()
        main.landing__main-container 
            +searching-card()
            p.landing__caption Лучшие номера для вашей работы, отдыха и просто вдохновения
        section.landing__footer-container
            +footer('')