include ../../components/checkbox/checkbox
mixin checkbox-expandable-list(title)
    details(class='checkbox-expandable-list')
        <summary>#{title}</summary>
        +checkbox('Завтрак')
        +checkbox('Письменный стол')
        +checkbox('Стул для кормления')
        +checkbox('Кроватка')
        +checkbox('Телевизор')
        +checkbox('Шампунь')
        +checkbox('Телевизор')
        +checkbox('Шампунь')
    </details>

