include ../../components/checkbox/checkbox
mixin checkbox-expandable-list(title)
    details.checkbox-expandable-list__details
        summary.checkbox-expandable-list__summary #{title}
        +checkbox('Завтрак')
        +checkbox('Письменный стол')
        +checkbox('Стул для кормления')
        +checkbox('Кроватка')
        +checkbox('Телевизор')
        +checkbox('Шампунь')
        +checkbox('Телевизор')
        +checkbox('Шампунь')
    </details>

