@import './../../styles/variables/colors.scss';
@import './../../styles/mixins/fonts.scss';
// checkbox-expandable-list {
//     &__button {
//         width: 166px;
//         height: 44px;
//         border: 1px solid black;
//     }
//     &__icon-box {
//         width: 44px;
//         height: 44px;
//         border: 1px solid black;
//     }

//     &__text {
//         width: 192px;
//         height: 15px;

//         font-family: Montserrat;
//         font-style: normal;
//         font-weight: bold;
//         font-size: 12px;
//         line-height: 15px;
//         /* identical to box height */
//         text-transform: uppercase;

//         /* Dark 100% */
//         color: #1f2041;
//     }
//     &__popup {
//         width: 192px;
//         height: 228px;
//         border: 1px solid black;
//     }
// }
.checkbox-expandable-list {
    &__details[open] summary:after {
        transform: rotate(225deg);
        margin-top: 6px;
    }
    &__summary {
        padding: 15px 0 17px;
        box-sizing: border-box;
        position: relative;
        width: 266px;
        cursor: pointer;
        list-style: none;
        @include h3;
        &::after {
            content: '';
            position: absolute;
            // transform: translate(-500%, -50%);
            margin-left: 48.5px;
            width: 7px;
            margin-top: 1px;

            height: 7px;
            border-color: $dark-shade-50;
            border-image-slice: 1;
            border-right-width: 2px;
            border-right-style: solid;
            border-bottom-width: 2px;
            border-bottom-style: solid;
            transform: rotate(45deg);
        }
    }
}
