include ../../components/checkbox/checkbox
mixin checkbox-expandable-list()
    details(class='checkbox-expandable-list')
        <summary>EXPANDABLE CHECKBOX LIST</summary>
        +checkbox('Завтрак')
        +checkbox('Письменный стол')
        +checkbox('Стул для кормления')
        +checkbox('Кроватка')
        +checkbox('Телевизор')
        +checkbox('Шампунь')
        +checkbox('Телевизор')
        +checkbox('Шампунь')
    </details>

