@import './../../styles/mixins/fonts.scss';
@import './../../styles/mixins/responsive.scss';
@import './../../styles/variables/colors.scss';

.block-title {
    display: grid;
    justify-content: left;
    align-content: center;
    @include h3($dark-shade-100);
}
