mixin rate-button(number)
    - const filledStars = Array(number)
    - const blankStars = Array(5-number)
    .rate-button-block
        each v, i in filledStars
            img(class="rate-button__img" src='./img/rate-button.svg' alt='rate' width='20' height='19')
        each v, i in blankStars
            img(class="rate-button__img" src='./img/rate-button-white.svg' alt='blank-rate' width='20' height='19')

