.rate-button {
    &-container {
        width: 120px;
        height: 24px;
    }

    &-colored {
    }

    &-white {
        background-color: white;
        background-image: url('./../dropdown-guests/dropdown-guests.svg');
    }
}
