.test1 {
    display: grid;
    line-height: 20px;
    padding-bottom: 50px;
    width: 320px;
    border: 1px solid yellow;
}
.test-container1 {
    display: grid;
    border: 1px solid black;
    grid-template-columns: 40% 20% 20% 20%;
}
