@import './../../styles/mixins/fonts.scss';
@import './../../styles/mixins/font-faces.scss';
@import './../../styles/variables/colors.scss';
.block-subtitle {
    display: grid;
    justify-content: right;
    align-content: center;
    @include h3($dark-shade-50);
}
