@import './../../styles/mixins/fonts.scss';
@import './../../styles/variables/colors.scss';
.button {
    &-purple {
        display: grid;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-left: 19px;
        padding-right: 20px;
        height: 100%;
        @include h3(white, bold, 14.63px);
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        border-radius: 22px;
        border: none;
        &:hover {
            background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
            opacity: 0.5;
        }
        font-stretch: ultra-condensed;
    }

    &-white {
        display: grid;
        align-items: center;
        justify-content: center;
        width: 100%;
        // padding-left: 17px;
        // padding-right: 16px;
        box-sizing: border-box;
        height: 100%;
        background-color: white;
        @include h3($purple, bold);
        border-radius: 22px;
        border: 2px solid $purple;
        &:hover {
            border-color: rgb(188, 156, 255, 0.5);
        }
    }

    &-link {
        @include h3($purple, bold);
        /* identical to box height */
        text-transform: uppercase;
        border: none;
        color: #bc9cff;
        background-color: transparent;

        &:hover {
            color: $dark-shade-50;
        }
        padding-left: 1px;
    }

    &-with-arrow {
        display: grid;
        position: relative;
        // grid-template-columns: 262px max-content;
        align-items: center;
        justify-content: center;
        width: 320px;
        @include h3(white, bold);

        /* Primary Gradient */
        background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
        border-radius: 22px;
        border: none;
        // background: url(img/arrow-button.svg);
        padding: 14.5px 2px 14.5px 0px;
    }
    &__arrow-icon {
        position: absolute;
        left: 290px;
        padding-left: 0px;
    }
}
