mixin like-button
     .like-button.js-like-button
      span.like-button__icon-container
        img.like-button__icon.js-like-button__icon(src='./img/like-border.svg' alt='some some' width='13' height='8')
      span.like-button__counter.js-like-button__counter 2