extends ../ui-kit-template/ui-kit-template

include ../../components/block-subtitle/block-subtitle
include ../../components/block-title/block-title
include ../../components/bullet-list/bullet-list
include ../../components/button/button
include ../../components/checkbox/checkbox
include ../../components/checkbox-expandable-list/checkbox-expandable-list
include ../../components/checkbox-list/checkbox-list
include ../../components/comfort-block/comfort-block
include ../../components/datepicker/datepicker
include ../../components/dropdown/dropdown
include ../../components/feedback/feedback
include ../../components/filter-date-dropdown/filter-date-dropdown
include ../../components/like-button/like-button
include ../../components/pagination/pagination
include ../../components/radio-button/radio-button
include ../../components/rate-button/rate-button
include ../../components/rich-checkbox/rich-checkbox
include ../../components/subscription-text-field/subscription-text-field
include ../../components/text-field/text-field
include ../../components/toggle/toggle
                
block content
    .form-elements
        .form-elements__area-a     
            .text-field-block
                .titles-container
                    +block-title('text field')
                    +block-subtitle('DEFAULT')
                .text-field__input-container
                    +text-field ('','email', 'Email')
            .text-field-block.text-field-block-2
                .titles-container
                    +block-title('text field')
                    +block-subtitle('HOVER / FOCUS')
                .text-field__input-container
                    +text-field ('This is pretty awesome','email', 'Email')
            .dropdown-block
                .titles-container
                    +block-title('dropdown')
                +dropdown(1)
            .masked-text-field-block
                .titles-container
                    +block-title('masked text field')
                +text-field ('','masked-text-field', 'ДД.ММ.ГГГГ')
            .date-dropdowns-block 
                //- .first-title-block 
                //-     +block-title('date dropdown')
                //- .second-title-block 
                //-     +block-title('date dropdown')
                +datepicker()
            .filter-date-dropdown-block
                .titles-container
                    +block-title('filter date dropdown')
                +filter-date-dropdown
            .subscription-text-field-block
                .titles-container
                    +block-title('subscription text field')
                +subscription-text-field ('','email', 'Email')
            .room-dropdown-block 
                //- .titles-block
                //-     +block-title('text field')
                //-     +block-subtitle('DEFAULT')
                +dropdown(2, 'room') 
                +dropdown(3, 'room') 
            .expandable-checkbox-list-block
                +checkbox-expandable-list
            .expandable-checkbox-list-block
                +checkbox-expandable-list
            .comfort-block
                +comfort-block
        .form-elements__area-b
            .checkbox-list-block
                +checkbox-list('checkbox buttons')
            .radio-button-block                 
                +block-title('radio buttons')
                +radio-button()
                +radio-button()
            .toggle-block 
                +block-title('toggle')
                +toggle('Получать 1')
                +toggle('Получать спецпредложения')
            .like-button-block
                +block-title('like button')
                +like-button(1)
            .rate-button-block 
                +block-title('rate button')
                +rate-button(4)
                +rate-button(5)
            .dropdowns-block-2
                +dropdown(4)
            .rich-checkbox-block
                +rich-checkbox()
        .form-elements__area-d
            .feedback-block
                +feedback()
        .form-elements__area-c
            .button-block
                +block-title('BUTTONS')
                +button('purple', 'click me')
                +button('purple', 'click me')
                +button('white', 'click me')
                +button('white', 'click me')
                +button('link', 'click me')
                +button('link', 'click me')
                +button('go-to-pay', 'перейти к оплате')
            .pagination-block
                +pagination()
            //- .dropdowns-block-3
            //-     +dropdown(5) 
            .bullet-list-block 
                +bullet-list()







            







           

        //- .checkbox-list-block
        //-     +checkbox-list()
        //- - const buttonAttributes = [['white','CLICK ME'],['white','CLICK ME'], ['purple','CLICK ME'],['purple','CLICK ME'],['link','CLICK ME'],['link','CLICK ME'],['go-to-pay','ПЕРЕЙТИ К ОПЛАТЕ']]
        //- each buttonAttribute, i in buttonAttributes
        //-     +button(buttonAttribute[0], buttonAttribute[1], `instance-${i+1}`)
        


        //- .radio-button-block
        //-     +radio-button()
        //- +like-button('instance-1', 2)
        //- +like-button('instance-2', 11)

