@import './../../styles/mixins/fonts.scss';
@import './../../styles/mixins/font-faces.scss';
@import './../../styles/variables/colors.scss';

@mixin a-area() {
    display: grid;

    // grid-template-rows: 20px;
    grid-template-columns: 50% 50%;
}

.form-elements {
    display: grid;
    grid-template-areas:
        'a b c'
        'a d d';
    width: 1440px-141px-141px;
    margin-top: 143px;
    // h3 {
    //     font-size: 80px;
    // }
    //     h1 {
    //         @include h1;
    //     }
    //     h2 {
    //         @include h2;
    //     }
    //     h3 {
    //         @include h3;
    //     }
}

.form-elements__area-a {
    display: grid;
    grid-area: a;
    grid-template-areas:
        'aa'
        'ab'
        'ac';
    margin-left: 140.5px;
    width: 320px;
}
.form-elements__area-b {
    display: grid;
    grid-area: b;
    grid-template-areas:
        'ba'
        'bb'
        'bc';
    margin-left: 100px;
    width: 320px;
}
.form-elements__area-c {
    display: grid;
    grid-area: c;
    grid-template-areas:
        'ca'
        'cb'
        'cc';
    width: 320px;
}
.form-elements__area-d {
    display: grid;
    grid-area: d;
    grid-template-areas:
        'ca'
        'cb'
        'cc';
    margin-left: 100px;
    .feedback-block {
        width: 711px;
    }
}

.form-elements .text-field_default {
    @include a-area();
    grid-area: aa;
    margin-top: 143px;
}
.text-field_hover {
    @include a-area();
    grid-area: ab;
    margin-top: 20px;
}

.form-elements .form-elements__title {
    display: grid;
    justify-self: left;
    align-content: center;
}
.form-elements .form-elements__subtitle {
    display: grid;
    justify-self: right;
}
