@import './../../styles/mixins/fonts.scss';
@import './../../styles/mixins/font-faces.scss';
@import './../../../node_modules/reset-css/sass/_reset.scss';

@mixin a-area() {
    display: grid;
    grid-template-columns: 50% 50%;
}

.form-elements {
    display: grid;
    grid-template-areas:
        'a b c'
        'a d d';
    width: 1440px-141px-141px;
    grid-template-columns: 587px 392px 320px;
    margin-top: 143.5px;
    align-content: flex-start;
    &__titles-container {
        display: grid;
        grid-template-columns: 1fr 0.6fr;
        margin-bottom: 4px;
    }
    &-titles-container_266 {
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        margin-bottom: 5px;
        width: 266px;
    }
    &-titles-container-b {
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        margin-bottom: 16px;
    }
    &__like-button-container {
        display: grid;
        grid-template-columns: 50px 40px;
    }
    &__rate-buttons-container {
        display: grid;
        grid-template-columns: 140px max-content;
    }
    &__buttons-container {
        display: grid;
        column-gap: 20px;
        row-gap: 30px;
        grid-template-columns: min-content min-content;
        margin-bottom: 30px;
    }
    &__button-container {
        width: 99px;
        height: 44px;
    }
    &__buttons-container-2 {
        display: grid;
        column-gap: 14px;
        row-gap: 30px;
        grid-template-columns: max-content max-content;
        margin-bottom: 30px;
    }
}

.form-elements__area-a {
    display: grid;
    grid-area: a;
    margin-left: 140.5px;
    align-content: flex-start;
    grid-template-rows: 84.44px 83.44px 86px 105px 105px 105px 164px 84px 222px 64px 316px 154px;
    width: 320px;

    .text-field {
        height: min-content;
    }
    .date-dropdowns {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: space-between;
        width: 320px;
    }
    .filter-date-dropdown {
        &__container {
            width: 266px;
            border: 1px solid rgba(31, 32, 65, 0.25);
            box-sizing: border-box;
            border-radius: 4px;
        }
    }
    .room-dropdown {
        width: 266px;
    }
    .benefits {
        margin-top: 14px;
    }
}
.form-elements__area-b {
    display: grid;
    grid-area: b;
    grid-template-rows: 170px 91.56px 129.44px 91px 251px 321px 145px;
    width: 320px;
}
.form-elements__area-c {
    display: grid;
    grid-area: c;
    grid-template-rows: 88px 309px 336px 320px 147px;

    width: 320px;
}
.form-elements__area-d {
    display: grid;
    grid-area: d;

    margin-top: 203px;
    .feedback {
        width: 711px;
    }
}

.form-elements .text-field_default {
    @include a-area();
    grid-area: aa;
    margin-top: 143px;
}
.text-field_hover {
    @include a-area();
    grid-area: ab;
    margin-top: 20px;
}

.form-elements .form-elements__title {
    display: grid;
    justify-self: left;
    align-content: center;
}
.form-elements .form-elements__subtitle {
    display: grid;
    justify-self: right;
}
