@import './../../styles/mixins/fonts.scss';
@import './../../styles/mixins/font-faces.scss';
@import './../../../node_modules/reset-css/sass/_reset.scss';

@mixin a-area() {
    display: grid;

    // grid-template-rows: 20px;
    grid-template-columns: 50% 50%;
}

.form-elements {
    display: grid;
    grid-template-areas:
        'a b c'
        'a d d';
    width: 1440px-141px-141px;
    margin-top: 143px;
}

.form-elements__area-a {
    display: grid;
    grid-area: a;
    // height: 800px;
    // grid-template-areas:
    //     'aa'
    //     'ab'
    //     'ac';
    margin-left: 140.5px;
    // grid-template-columns: min-content;
    grid-template-rows: 84px 84px 86.56px 104px 105px 105px 164px 320px 64px 306px 154px;
    width: 320px;

    .text-field {
        &-block {
            height: min-content;
            .titles-container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin: 0px 0px 0px 0px;
                // background-color: blue;
            }
        }
        &-block-2 {
            margin-bottom: 0px;
        }
        &__input-container {
            margin-top: 5px;
        }
    }
    .date-dropdowns-block {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: space-between;
        width: 320px;
    }
    .room-dropdown-block {
        width: 266px;
    }
}
.form-elements__area-b {
    display: grid;
    grid-area: b;
    grid-template-areas:
        'ba'
        'bb'
        'bc';
    margin-left: 100px;
    width: 320px;
    gap: 10px;
}
.form-elements__area-c {
    display: grid;
    grid-area: c;
    grid-template-areas:
        'ca'
        'cb'
        'cc';
    width: 320px;
}
.form-elements__area-d {
    display: grid;
    grid-area: d;
    grid-template-areas:
        'ca'
        'cb'
        'cc';
    margin-left: 100px;
    .feedback-block {
        width: 711px;
    }
}

.form-elements .text-field_default {
    @include a-area();
    grid-area: aa;
    margin-top: 143px;
}
.text-field_hover {
    @include a-area();
    grid-area: ab;
    margin-top: 20px;
}

.form-elements .form-elements__title {
    display: grid;
    justify-self: left;
    align-content: center;
}
.form-elements .form-elements__subtitle {
    display: grid;
    justify-self: right;
}
