extends ../ui-kit-template/ui-kit-template

include ../../components/block-subtitle/block-subtitle
include ../../components/block-title/block-title
include ../../components/button/button
include ../../components/checkbox-list/checkbox-list
include ../../components/checkbox/checkbox
include ../../components/dropdown/dropdown
include ../../components/like-button/like-button
include ../../components/radio-button/radio-button
include ../../components/text-field/text-field




block content
    .form-elements
        .form-elements__area-a     
            .text-field_default
                +block-title('TEXT FIELD')
                +block-subtitle('DEFAULT')
                +text-field ('','email', 'Email')
            .text-field_hover
                +block-title('TEXT FIELD')
                +block-subtitle('HOVER/FOCUS')
                +text-field ('This is pretty awesome','email', 'Email')
            .dropdown 
                +dropdown(1)
                +dropdown(2, 'room')
                +dropdown(3, 'room')
                +dropdown(4)
                +dropdown(5)
                //- +dropdown-guests()

        //- .checkbox-list-block
        //-     +checkbox-list()
        //- - const buttonAttributes = [['white','CLICK ME'],['white','CLICK ME'], ['purple','CLICK ME'],['purple','CLICK ME'],['link','CLICK ME'],['link','CLICK ME'],['go-to-pay','ПЕРЕЙТИ К ОПЛАТЕ']]
        //- each buttonAttribute, i in buttonAttributes
        //-     +button(buttonAttribute[0], buttonAttribute[1], `instance-${i+1}`)
        


        //- .radio-button-block
        //-     +radio-button()
        //- +like-button('instance-1', 2)
        //- +like-button('instance-2', 11)

