extends ../ui-kit-template/ui-kit-template

include ../../components/block-subtitle/block-subtitle
include ../../components/block-title/block-title
include ../../components/button/button
include ../../components/checkbox-list/checkbox-list
include ../../components/checkbox/checkbox
include ../../components/datepicker/datepicker
include ../../components/dropdown/dropdown
include ../../components/like-button/like-button
include ../../components/radio-button/radio-button
include ../../components/rate-button/rate-button
include ../../components/rich-checkbox/rich-checkbox

include ../../components/text-field/text-field
include ../../components/toggle/toggle

include ../../components/filter-date-dropdown/filter-date-dropdown
include ../../components/checkbox-expandable-list/checkbox-expandable-list
include ../../components/comfort-block/comfort-block
                
block content
    .form-elements
        .form-elements__area-a     
            .text-field_default
                +block-title('TEXT FIELD')
                +block-subtitle('DEFAULT')
                +text-field ('','email', 'Email')
            .text-field_hover
                +block-title('TEXT FIELD')
                +block-subtitle('HOVER/FOCUS')
                +text-field ('This is pretty awesome','email', 'Email')
            .dropdowns_container 
                +dropdown(1)
            .masked-text-field-container
                +text-field ('','masked-text-field', 'ДД.ММ.ГГГГ')
            .date-dropdowns-container 
                +datepicker()
            .filter-date-dropdown-container 
                +filter-date-dropdown
            .subscription-text-field 
                +text-field ('','email', 'Email')
            .room-dropdown-container 
                +dropdown(2, 'room') 
                +dropdown(3, 'room') 
            .expandable-checkbox-list-container
                +checkbox-expandable-list
                +checkbox-expandable-list
            .comfort-container
                +comfort-block
        .form-elements__area-b
            .checkbox-list-container
                +block-title('checkbox buttons')
                +checkbox-list
            .radio-button-container 
                +radio-button()
                +radio-button()
            .toggle-container 
                +toggle('Получать спецпредложения')
                +toggle('Получать спецпредложения')
            .like-button-container
                +like-button(1)
            .rate-button-container 
                +rate-button(4)
                +rate-button(5)
            .dropdowns-container-2
                +dropdown(4)
            .rich-checkbox-container
                +rich-checkbox()
        .form-elements__area-c
            







           

        //- .checkbox-list-block
        //-     +checkbox-list()
        //- - const buttonAttributes = [['white','CLICK ME'],['white','CLICK ME'], ['purple','CLICK ME'],['purple','CLICK ME'],['link','CLICK ME'],['link','CLICK ME'],['go-to-pay','ПЕРЕЙТИ К ОПЛАТЕ']]
        //- each buttonAttribute, i in buttonAttributes
        //-     +button(buttonAttribute[0], buttonAttribute[1], `instance-${i+1}`)
        


        //- .radio-button-block
        //-     +radio-button()
        //- +like-button('instance-1', 2)
        //- +like-button('instance-2', 11)

