extends ../ui-kit-template/ui-kit-template

include ../../components/block-subtitle/block-subtitle
include ../../components/block-title/block-title
include ../../components/bullet-list/bullet-list
include ../../components/button/button
include ../../components/checkbox/checkbox
include ../../components/checkbox-expandable-list/checkbox-expandable-list
include ../../components/checkbox-list/checkbox-list
include ../../components/benefits/benefits
include ../../components/datepicker/datepicker
include ../../components/dropdown/dropdown
include ../../components/feedback/feedback
include ../../components/filter-date-dropdown/filter-date-dropdown
include ../../components/like-button/like-button
include ../../components/pagination/pagination
include ../../components/radio-button/radio-button
include ../../components/rate-button/rate-button
include ../../components/rich-checkbox/rich-checkbox
include ../../components/subscription-text-field/subscription-text-field
include ../../components/text-field/text-field
include ../../components/toggle/toggle
                
block content
    .form-elements
        .form-elements__area-a     
            .form-elements__text-field
                .form-elements__titles-container
                    +block-title('text field')
                    +block-subtitle('DEFAULT')
                .text-field__input-container
                    +text-field ('','email', 'Email')
            .form-elements__text-field.form-elements__text-field-2
                .titles-container
                    +block-title('text field')
                    +block-subtitle('HOVER / FOCUS')
                .text-field__input-container
                    +text-field ('This is pretty awesome','email', 'Email')
            .form-elements__dropdown
                .form-elements__titles-container
                    +block-title('dropdown')
                +dropdown(1)
            .form-elements__masked-text-field
                .titles-container
                    +block-title('masked text field')
                +text-field ('','masked-text-field', 'ДД.ММ.ГГГГ')
            .form-elements__date-dropdowns 
                //- .first-title 
                //-     +block-title('date dropdown')
                //- .second-title 
                //-     +block-title('date dropdown')
                +datepicker()
            .form-elements__filter-date-dropdown
                .titles-container
                    +block-title('filter date dropdown')
                +filter-date-dropdown
            .form-elements__subscription-text-field
                .titles-container
                    +block-title('subscription text field')
                +subscription-text-field ('','email', 'Email')
            .form-elements__room-dropdown 
                //- .titles
                //-     +block-title('text field')
                //-     +block-subtitle('DEFAULT')
                +dropdown(2, 'room') 
                +dropdown(3, 'room') 
            .form-elements__expandable-checkbox-list
                +checkbox-expandable-list
            .form-elements__expandable-checkbox-list-2
                +checkbox-expandable-list
            .form-elements__benefits
                +benefits('benefits-emotion.svg','Комфорт', 'Шумопоглощающие стены')
                +benefits('benefits-house.svg','Удобство', 'Окно в каждой из спален')
        .form-elements__area-b
            .form-elements__checkbox-list
                +checkbox-list('checkbox buttons')
            .form-elements__radio-button                 
                +block-title('radio buttons')
                +radio-button()
                +radio-button()
            .form-elements__toggle 
                +block-title('toggle')
                +toggle('Получать 1')
                +toggle('Получать спецпредложения')
            .form-elements__like-button
                +block-title('like button')
                +like-button(1)
            .form-elements__rate-button 
                +block-title('rate button')
                +rate-button(4)
                +rate-button(5)
            .form-elements__dropdowns-2
                +dropdown(4)
            .form-elements__rich-checkbox
                +rich-checkbox()
        .form-elements__area-d
            .form-elements__feedback
                +feedback()
        .form-elements__area-c
            .form-elements__buttons
                +block-title('BUTTONS')
                +button('purple', 'click me')
                +button('purple', 'click me')
                +button('white', 'click me')
                +button('white', 'click me')
                +button('link', 'click me')
                +button('link', 'click me')
                +button('go-to-pay', 'перейти к оплате')
            .form-elements__pagination
                +pagination()
            //- .dropdowns-3
            //-     +dropdown(5) 
            .form-elements__bullet-list 
                +bullet-list()







            







           

        //- .checkbox-list
        //-     +checkbox-list()
        //- - const buttonAttributes = [['white','CLICK ME'],['white','CLICK ME'], ['purple','CLICK ME'],['purple','CLICK ME'],['link','CLICK ME'],['link','CLICK ME'],['go-to-pay','ПЕРЕЙТИ К ОПЛАТЕ']]
        //- each buttonAttribute, i in buttonAttributes
        //-     +button(buttonAttribute[0], buttonAttribute[1], `instance-${i+1}`)
        


        //- .radio-button
        //-     +radio-button()
        //- +like-button('instance-1', 2)
        //- +like-button('instance-2', 11)

