extends ../ui-kit-template/ui-kit-template
include ../../components/checkbox-list/checkbox-list
include ../../components/checkbox/checkbox
include ../../components/button/button
include ../../components/radio-button/radio-button
include ../../components/like-button/like-button




block content
    - const styles = {  button: {position: 'absolute', left: '500px'}}
    +checkbox-list()
    +button('white', 'CLICK ME', 'form-elements')
    +button('purple', 'CLICK ME', 'form-elements')
    +radio-button()
    +like-button()