extends ../ui-kit-template/ui-kit-template
include ../../components/checkbox-list/checkbox-list
include ../../components/checkbox/checkbox
include ../../components/button/button


block content
    +checkbox-list()
    +button('white', 'someButton')