extends ../ui-kit-template/ui-kit-template

include ../../components/block-subtitle/block-subtitle
include ../../components/block-title/block-title
include ../../components/bullet-list/bullet-list
include ../../components/button/button
include ../../components/checkbox/checkbox
include ../../components/checkbox-expandable-list/checkbox-expandable-list
include ../../components/checkbox-list/checkbox-list
include ../../components/benefits/benefits
include ../../components/datepicker/datepicker
include ../../components/dropdown/dropdown
include ../../components/feedback/feedback
include ../../components/filter-date-dropdown/filter-date-dropdown
include ../../components/like-button/like-button
include ../../components/pagination/pagination
include ../../components/radio-button/radio-button
include ../../components/rate-button/rate-button
include ../../components/rich-checkbox/rich-checkbox
include ../../components/subscription-text-field/subscription-text-field
include ../../components/text-field/text-field
include ../../components/toggle/toggle

                
block content
    .form-elements
        .form-elements__area-a     
            .form-elements__text-field
                .form-elements-titles-container
                    +block-title('text field')
                    +block-subtitle('default')
                .text-field__input-container
                    +text-field ('','email', 'Email')
            .form-elements__text-field.form-elements__text-field-2
                .form-elements-titles-container
                    +block-title('text field')
                    +block-subtitle('hover / focus')
                .text-field__input-container
                    +text-field ('This is pretty awesome','email', 'Email')
            .form-elements__dropdown
                .form-elements-titles-container
                    +block-title('dropdown')
                +dropdown(1)
            .form-elements__masked-text-field
                .form-elements-titles-container
                    +block-title('masked text field')
                +text-field ('','masked-text-field', 'ДД.ММ.ГГГГ')
            .form-elements__date-dropdowns 
                //- .first-title 
                //-     +block-title('date dropdown')
                //- .second-title 
                //-     +block-title('date dropdown')
                +datepicker()
            .form-elements__filter-date-dropdown
                .form-elements-titles-container
                    +block-title('filter date dropdown')
                +filter-date-dropdown
            .form-elements__subscription-text-field
                .form-elements-titles-container
                    +block-title('subscription text field')
                +subscription-text-field ('','email', 'Email')
            .form-elements__room-dropdown 
                .form-elements-titles-container_266
                    +block-title('dropdown')
                    +block-subtitle('default')
                +dropdown(2, 'room', 266)
            .form-elements__room-dropdown  
                .form-elements-titles-container_266
                    +block-title('dropdown')
                    +block-subtitle('expanded')
                +dropdown(3, 'room', 266) 
            .form-elements__expandable-checkbox-list
                +checkbox-expandable-list
            .form-elements__expandable-checkbox-list-2
                +checkbox-expandable-list
            .form-elements__benefits
                +benefits('benefits-emotion.svg','Комфорт', 'Шумопоглощающие стены')
                +benefits('benefits-house.svg','Удобство', 'Окно в каждой из спален')
        .form-elements__area-b
            .form-elements__checkbox-list
                +checkbox-list('checkbox buttons')
            .form-elements__radio-button  
                div(class='titles-container' style= {margin: '0 0 12px 0'})
                    +block-title('radio buttons')
                +radio-button()
            .form-elements__toggle 
                div(class='titles-container' style= {margin: '0 0 16px 0'})
                    +block-title('toggle')
                +toggle('Получать спецпредложения')
                +toggle('Получать спецпредложения')
            .form-elements__like-button
                div(class='titles-container' style= {margin: '0 0 16px 0'})
                    +block-title('like button')
                .form-elements__like-button-container
                    +like-button(1, 2)
                    +like-button(2, 11)
            .form-elements__rate-button 
                div(class='titles-container' style= {margin: '0 0 16px 0'})
                    +block-title('rate button')
                .form-elements__rate-buttons-container 
                    +rate-button(4)
                    +rate-button(5)
            .form-elements__dropdowns-2
                .form-elements-titles-container
                    +block-title('dropdown')
                +dropdown(4)
            .form-elements__rich-checkbox
                div(class='titles-container' style= {margin: '0 0 16px 0'})
                    +block-title('rich checkbox buttons')
                +rich-checkbox()
        .form-elements__area-d
            .form-elements__feedback
                +feedback('Мурад Сарафанов','./img/murad.svg', '5 дней назад', 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.' )
        .form-elements__area-c
            .form-elements__range-slider 
                +block-title('range slider')
            .form-elements__buttons
                div(class='titles-container' style= {margin: '0 0 16px 0'})
                    +block-title('BUTTONS')
                .form-elements__buttons-container
                    +button('purple', 'click me')
                    +button('purple', 'click me')
                    +button('white', 'click me')
                    +button('white', 'click me')
                .form-elements__buttons-container-2
                    +button('link', 'click me')
                    +button('link', 'click me')
                +button('go-to-pay', 'перейти к оплате')
            .form-elements__pagination
                div(class='titles-container' style= {margin: '0 0 16px 0'})
                    +block-title('pagination')
                +pagination()
            .form-elements__dropdowns-3
                .form-elements-titles-container
                    +block-title('dropdown')
                +dropdown(5)
            .form-elements__bullet-list 
                div(class='titles-container' style= {margin: '0 0 16px 0'})
                    +block-title('bullet list')
                +bullet-list()





            







           

        //- .checkbox-list
        //-     +checkbox-list()
        //- - const buttonAttributes = [['white','CLICK ME'],['white','CLICK ME'], ['purple','CLICK ME'],['purple','CLICK ME'],['link','CLICK ME'],['link','CLICK ME'],['go-to-pay','ПЕРЕЙТИ К ОПЛАТЕ']]
        //- each buttonAttribute, i in buttonAttributes
        //-     +button(buttonAttribute[0], buttonAttribute[1], `instance-${i+1}`)
        


        //- .radio-button
        //-     +radio-button()
        //- +like-button('instance-1', 2)
        //- +like-button('instance-2', 11)

