mixin checkbox-list()
      .checkbox-list.js-checkbox-list
        .checkbox-list-button.js-checkbox-list-button
          span.checkbox-list-text.js-checkbox-list-text EXPANDABLE CHECKBOX LIST
          span.checkbox-list-icon-box.js-checkbox-list-icon-box
            img.checkbox-list-icon.js-checkbox-list-icon(src='./img/open-checkbox-list.svg' alt='some some' width='13' height='8')
      .checkbox-list-popup.js-checkbox-list-popup.hide
        div CHECKBOXES HERE
