<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- <script src="/src/uikits/formElements/formElements.js"></script> -->
        <title>Document</title>
    </head>
    <body>
        <main>
            <div class="checkbox-list js-checkbox-list">
                <div class="checkbox-list-button js-checkbox-list-button">
                    <span class="checkbox-list-text js-checkbox-list-text"
                        >EXPANDABLE CHECKBOX LIST</span
                    >
                    <span
                        class="checkbox-list-img-box js-checkbox-list-img-box"
                    >
                        <img
                            src="./img/checkbox-list-guests.svg"
                            alt="some some"
                            width="13"
                            height="8"
                            class="checkbox-list-icon js-checkbox-list-icon"
                        />
                    </span>
                </div>
            </div>
            <div class="checkbox-list-popup js-checkbox-list-popup hide">
                <div>CHECKBOXES HERE</div>
            </div>
        </main>
    </body>
</html>
