mixin radio-button
    form.radio-button-block
        label.radio-label
            input.radio__input(type='radio' name='color' value='indigo')
            span.radio__new-icon
            span.radio__text Мужчина
        label.radio-label
            input.radio__input(type='radio' name='color' value='indigo')
            span.radio__new-icon
            span.radio__text Женщина