mixin radio-button
    label.radio-label
      input.radio__input(type='radio' name='color' value='indigo')
      span.radio__new-icon
      span.radio__text Мужчина Man
    label.radio-label
      input.radio__input(type='radio' name='color' value='indigo')
      span.radio__new-icon
      span.radio__text Женщина Woman