mixin comfort-block(instance)
    div(class="comfort-block")
        div.emotion-container
            img.emotion-icon(src='./img/comfort-emotion.svg' alt='some some' width='48' height='48')
            .title Комфорт
            .subtitle Шумопоглощающие стены
        img.line-icon(src='./img/comfort-line.svg' alt='some some' width='280' height='1')
        div.house-container
            img.house-icon(src='./img/comfort-house.svg' alt='some some' width='48' height='48')
            .title Удобство
            .subtitle Окно в каждой из спален
