include ../../components/datepicker/datepicker
include ../../components/dropdown/dropdown
include ../../components/button/button
include ../../components/block-title/block-title

mixin searching-card
    form.searching-card-block
        .searching-card__title Найдем номера под ваши желания
        .searching-card__datepicker-box
            +datepicker(1, 'прибытие', 'выезд')
        .searching-card__dropdown-box
            +block-title('гости')
            +dropdown(1, '', 'wide')
        .searching-card__button-box
            +button('with-arrow', 'подобрать номер')
        
        

