extends ../page-template/page-template

include ../../components/footer/footer
include ../../components/header/header

include ../../components/block-subtitle/block-subtitle
include ../../components/block-title/block-title
include ../../components/checkbox-list/checkbox-list
include ../../components/checkbox-expandable-list/checkbox-expandable-list
include ../../components/dropdown/dropdown
include ../../components/filter-date-dropdown/filter-date-dropdown
include ../../components/rich-checkbox/rich-checkbox

include ../../components/pagination/pagination

include ../../card-blocks/booking-card/booking-card
include ../../card-blocks/login-card/login-card
include ../../card-blocks/registration-card/registration-card
include ../../card-blocks/room-card/room-card
include ../../card-blocks/searching-card/searching-card


block content 
    section.search-page
        section.search-page__header-container
            +header('signin')
        main.search-page__main-container 
            section.search-page__menu
                .search-page__filter-date-dropdown
                    div(class='search-page__title-container' style= {margin: '0 0 5px 0'})
                        +block-title('даты пребывания в отеле')
                    +filter-date-dropdown()
                .search-page__guest-dropdown
                    div(class='search-page__title-container' style= {margin: '0 0 5px 0'})
                        +block-title('гости')
                    +dropdown(1, '_guests', 'narrow')
                .search-page__range-slider
                    div(class='search-page__titles-container' style= {margin: '0 0 20px 0'})
                        +block-title('диапазон цены')
                        +block-subtitle('5 000₽ - 10 000₽')
                    p.search-page__range-slider-caption Стоимость за сутки пребывания в номере
                .search-page__checkbox-list
                    +checkbox-list('правила дома')
                .search-page__rich-checkbox
                    div(class='search-page__title-container' style= {margin: '0 0 16.5px 0'})
                        +block-title('доступность')
                    +rich-checkbox()
                .search-page__room-dropdown
                    div(class='search-page__title-container' style= {margin: '0 0 5px 0'})
                        +block-title('удобства номера')
                    +dropdown(2, '_room', 'narrow')
                .search-page__expandable-list
                    +checkbox-expandable-list('дополнительные удобства')

                    
                
            section.search-page__room-list
                h1.search-page__room-list-title Номера, которые мы для вас подобрали
                section.search-page__room-list-cards
                    .search-page__cards-room-888
                        +room-card('888', ' ЛЮКС', '9 990₽', 5, 145 ) 
                    .search-page__cards-room-840
                        +room-card('840', ' ', '9 990₽', 4, 65 ) 
                    .search-page__cards-room-888
                        +room-card('980', ' ЛЮКС', '8 500₽', 3, 35 ) 
                    .search-page__cards-room-840
                        +room-card('856', ' ', '7 300₽', 5, 19 ) 
                    .search-page__cards-room-888
                        +room-card('740', ' ', '6 000₽', 4, 44 ) 
                    .search-page__cards-room-840
                        +room-card('982', ' ', '5 800₽', 3, 56 ) 
                    .search-page__cards-room-888
                        +room-card('678', ' ', '5 500₽', 5, 45 ) 
                    .search-page__cards-room-840
                        +room-card('450', ' ', '5 300₽', 4, 39 ) 
                    .search-page__cards-room-888
                        +room-card('350', ' ', '5 000₽', 3, 77 ) 
                    .search-page__cards-room-840
                        +room-card('666', ' ', '5 000₽', 5, 25 ) 
                    .search-page__cards-room-888
                        +room-card('444', ' ', '5 000₽', 3, 15 ) 
                    .search-page__cards-room-840
                        +room-card('352', ' ', '5 000₽', 3, 55 ) 
                .search-page__room-list-pagination
                    +pagination()        
        section.search-page__footer-container
            +footer('')