@import './../../styles/mixins/fonts.scss';
@import './../../styles/variables/colors.scss';

.search-page {
    // @media (max-width: 479px) {
    //     html {
    //         font-size: 10px;
    //     }
    // }
    @media (min-width: 480px) and (max-width: 639px) {
    }
    @media (min-width: 640px) and (max-width: 767px) {
    }
    @media (min-width: 768px) and (max-width: 1023px) {
    }
    @media (min-width: 1024px) and (max-width: 1279px) {
    }
    @media (min-width: 1280px) and (max-width: 1439px) {
        display: grid;
        width: 100vw;
        // grid-template-columns: minmax(1280px, 1440px);
    }
    @media (min-width: 1440px) {
        display: grid;
        // grid-template-columns: 1440px;
        grid-template-rows: 70px 1358px 443px;
        align-items: baseline;
    }

    &__header-container {
        @media (min-width: 768px) and (max-width: 1439px) {
            width: 100vw;
        }
        @media (min-width: 1440px) {
            width: 1440px;
        }
    }
    &__main-container {
        display: grid;
        grid-template-columns: 266px 1fr;
        padding: 30px 140px 70px 140px;
        column-gap: 59px;
        @media (max-width: 479px) {
        }
        @media (min-width: 480px) and (max-width: 767px) {
        }
        @media (min-width: 768px) and (max-width: 1439px) {
        }
        @media (min-width: 1440px) {
        }
    }
    &__menu {
        display: grid;
        grid-template-columns: 266px;
        grid-template-rows: 84.44px 94px 101.5px 160px 175.5px 93.5px 260px;
    }
    &__range-slider-caption {
        @include caption-font();
    }

    &__room-list {
        display: grid;
        grid-template-columns: max-content;
        grid-template-rows: 50px 1131.7 px 75px;
        &-title {
            @include h1;
            text-transform: none;
        }
        &-cards {
            display: grid;
            grid-template-columns: repeat(3, 270px);
            grid-auto-rows: 257px;
            column-gap: 12px;
            row-gap: 21px;
            padding-left: 1px;
            .room-card__title-lux {
                padding: 9px 0 0 8px;
            }
            .room-card__feedback_bold {
                padding: 4px 3.6px;
            }
            .room-card__feedback_normal {
                padding-top: 4px;
            }
        }
        &-pagination {
            display: grid;
            justify-content: center;
            padding-right: 6px;
        }
    }
    &__titles-container {
        display: grid;
        grid-template-columns: 1fr 0.5fr;
    }

    &__footer-container {
        @media (min-width: 768px) and (max-width: 1439px) {
            width: 100vw;
        }
        @media (min-width: 1440px) {
            width: 1440px;
        }
    }
}
