@import './../../styles/mixins/fonts.scss';
@import './../../styles/variables/colors.scss';

.search-page {
    @media (min-width: 480px) and (max-width: 1279px) {
        grid-template-rows: max-content max-content max-content;
    }
    @media (min-width: 1280px) and (max-width: 1439px) {
        display: grid;
        width: 100vw;
    }
    @media (min-width: 1440px) {
        display: grid;
        grid-template-rows: 70px 1358px 443px;
        align-items: baseline;
    }

    &__header-container {
        @media (min-width: 768px) and (max-width: 1439px) {
            width: 100vw;
        }
        @media (min-width: 1440px) {
            width: 1440px;
        }
    }
    &__main-container {
        display: grid;
        @media (max-width: 479px) {
        }
        @media (min-width: 480px) and (max-width: 960px) {
            grid-template-columns: 1fr;
        }

        @media (min-width: 960px) and (max-width: 1439px) {
            grid-template-columns: 266px 1fr;
            padding: 30px 40px 70px 40px;
            column-gap: 29px;
            height: 1600px;
        }
        @media (min-width: 1440px) {
            grid-template-columns: 266px 1fr;
            padding: 30px 140px 70px 140px;
            column-gap: 59px;
        }
    }
    &__menu {
        display: grid;
        grid-template-columns: 266px;
        grid-template-rows: 86px 88px 108px 160px 175.5px 79px 260px;
        @media (min-width: 320px) and (max-width: 639px) {
            grid-template-columns: 266px;
            grid-auto-rows: max-content;
            justify-content: center;
            row-gap: 20px;
            padding: 20px;
        }
        @media (min-width: 640px) and (max-width: 960px) {
            grid-template-columns: repeat(2, 266px);
            grid-template-rows: repeat(4, max-content);
            justify-content: center;
            row-gap: 20px;
            column-gap: 10px;
            padding: 20px;
        }
        .checkbox-expandable-list {
            &__details[open] summary:after {
                transform: rotate(225deg);
                margin-top: 4px;
            }
            &__summary {
                &::after {
                    margin-left: 32px;
                    margin-top: 1px;
                }
            }
        }
    }
    &__filter-date-dropdown {
        padding-top: 1px;
    }
    &__range-slider-caption {
        @include caption-font();
    }
    &__range-slider-container {
        border: 1px solid silver;
        padding: 10px 0 15px 0;
    }

    &__room-list {
        display: grid;
        @media (min-width: 320px) and (max-width: 1439px) {
            grid-template-rows: max-content max-content max-content;
            justify-content: center;
        }
        @media (min-width: 1440px) {
            grid-template-rows: 50px 1131.7px 75px;
        }

        &-title {
            @include h1;
            text-transform: none;
            @media (min-width: 320px) and (max-width: 1279px) {
                padding: 0 20px 10px 20px;
            }
        }
        &-cards {
            display: grid;
            grid-template-columns: repeat(3, 270px);
            grid-auto-rows: 257px;
            column-gap: 12px;
            row-gap: 21px;
            padding-left: 1px;
            @media (max-width: 639px) {
                grid-template-columns: 270px;
                justify-content: center;
            }
            @media (min-width: 640px) and (max-width: 1279px) {
                grid-template-columns: repeat(2, 270px);
            }
            .room-card__title-lux {
                padding: 9px 0 0 8px;
            }
            .room-card__feedback_bold {
                padding: 4px 3.6px;
            }
            .room-card__feedback_normal {
                padding-top: 4px;
            }
        }
        &-pagination {
            display: grid;
            justify-content: center;
            padding-right: 6px;
        }
    }
    &__titles-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 7px;
    }

    &__footer-container {
        @media (min-width: 768px) and (max-width: 1439px) {
            width: 100vw;
        }
        @media (min-width: 1440px) {
            width: 1440px;
        }
    }
    .slider {
        margin-bottom: 13.56px;
    }
}
