include ../../components/datepicker/datepicker
include ../../components/dropdown/dropdown
include ../../components/button/button
include ../../components/block-title/block-title

mixin login-card
    form.login-card-block
        .login-card__title Войти
        .login-card__text-fields 
            +text-field('','email', 'Email')
            +text-field('','password', 'Пароль')
        .login-card__button-box
            +button('with-arrow', 'войти')
        .login-card__registration-box
            .login-card__registration-caption Нет аккаунта на Toxin?
            +button('white', 'создать')
        
        

