@import './../../styles/mixins/fonts.scss';
@import './../../styles/mixins/font-faces.scss';
@import './../../styles/variables/colors.scss';

.login-card {
    &-block {
        display: grid;
        background-color: white;
        align-items: flex-start;
        grid-template-rows: 3.5714rem 8.4286rem 5.2857rem 3.1429rem;
        padding: 2.7857rem 2.1429rem 2.1429rem 2.0714rem;

        border: 0.0714rem solid rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        box-shadow: 0rem 0rem 1.7857rem rgba(0, 0, 0, 0.2);
        border-radius: 0.2857rem;
    }
    &__title {
        @include h1;
        text-transform: none;
    }
    &__text-fields {
        display: grid;
        row-gap: 0.7143rem;
    }
    &__registration {
        &-box {
            display: grid;
            grid-template-columns: 1fr minmax(7.0714rem, max-content);         
        }

        &-caption {
            display: grid;
            align-items: center;
            @include body-font($dark-shade-100, normal, 1.2857rem);
        }
    }
    &__registration-button-box {
        height: 3.1429rem;
    }
}
