extends ../ui-kit-template/ui-kit-template
include ../../components/color-block/color-block

block content

    +color-block('dark-shade-100')
    +color-block('dark-shade-75')
    +color-block('dark-shade-50')
    +color-block('dark-shade-25')
    +color-block('dark-shade-5')
    +color-block('purple')
    +color-block('green')
    .color-and-type-h1-title H1
    .color-and-type-h1-subtitle This one is the sub-section or widget title
    .color-and-type-h2-title H2
    .color-and-type-h2-subtitle Next one is the item title inside widgets
    .color-and-type-h3-title H3
    .color-and-type-h3-subtitle This is a label or CTA text
    .color-and-type-body-title Body
    .color-and-type-body-subtitle This is the body text which is used for most of the design, like paragraphs, lists, etc.
    