extends ../ui-kit-template/ui-kit-template
include ../../components/color-block/color-block

block content
    +color-block('dark-shade-100')
    +color-block('dark-shade-75')
    +color-block('dark-shade-50')
    +color-block('dark-shade-25')
    +color-block('dark-shade-5')
    +color-block('purple')
    +color-block('green')
    