@import './../../styles/mixins/fonts.scss';
@import './../../styles/variables/colors.scss';

// @media (max-width: 479px) {
//     html {
//         font-size: 3px;
//     }
// }

.sign-in-page {
    @media (max-width: 480px) {
        display: grid;
        width: 100vw;
        grid-template-rows: 300px 400px;
    }
    @media (min-width: 480px) and (max-width: 1279px) {
        display: grid;
        width: 100vw;
        grid-template-rows: 200px 400px;
    }
    @media (min-width: 1280px) and (max-width: 1439px) {
        display: grid;
        width: 100vw;
        // grid-template-columns: minmax(1280px, 1440px);
    }
    @media (min-width: 1440px) {
        display: grid;
        grid-template-rows: 70px max-content max-content;
    }

    &__header-container {
        box-sizing: border-box;

        @media (min-width: 768px) and (max-width: 1439px) {
            width: 100vw;
        }
        @media (min-width: 1440px) {
            width: 1440px;
        }
    }
    &__main-container {
        width: 100vw;
        display: grid;
        box-sizing: border-box;
        justify-items: center;
        justify-content: center;
        align-items: center;
        align-content: center;
        @media (min-width: 320px) and (max-width: 1439px) {
            width: 100vw;
            height: max-content;
        }
        @media (min-width: 1440px) {
            height: 684px;
        }
    }
    &__card-container {
        @media (min-width: 320px) and (max-width: 1439px) {
            padding-top: 20px;
        }

        @media (min-width: 1440px) {
            width: 380px;
            height: 646px;
            display: grid;
            align-items: center;
        }
    }
    &__background {
        position: absolute;
        width: 1440px;
        height: 900px;
        left: 0px;
        top: 0px;
        background-image: url(img/sign-in-page-img.jpg);
        background-size: 100% 83.8%;
        z-index: -1;
        background-repeat: no-repeat;
        @media (min-width: 320px) and (max-width: 767px) {
            width: 100vw;
            height: 62vw;
            top: 200px;
        }
        @media (min-width: 768px) and (max-width: 1439px) {
            width: 100vw;
            height: 62vw;
            top: 120px;
        }

        @media (min-width: 1440px) {
            width: 1440px;
            height: 900px;
        }
    }
    &__caption {
        display: grid;
        @include body-font();
        align-self: flex-end;
        text-align: end;
        @media (min-width: 320px) and (max-width: 767px) {
            grid-area: 2/1;
            justify-content: center;
            width: 50vw;
        }
        @media (min-width: 768px) and (max-width: 1439px) {
            grid-area: 1/2;
            justify-content: center;
            align-self: center;
            background-color: rgb(255, 255, 255, 0.6);
        }
        @media (min-width: 1440px) {
            grid-area: 2/2;
            justify-content: right;
        }
    }
    &__footer-container {
        @media (min-width: 768px) and (max-width: 1439px) {
            width: 100vw;
        }
        @media (min-width: 1440px) {
            width: 1440px;
        }
    }
}
