.dropdown-guests {
    position: absolute;
    width: 320px;
    height: 44px;
    left: 587px;
    top: 896px;

    background: #ffffff;
    /* Dark 50% */
    border: 1px solid rgba(31, 32, 65, 0.5);
    box-sizing: border-box;
    border-radius: 2px;
    // background: url('dropdown-guests.svg') no-repeat;

    @media (max-width: 479px) {
    }
    @media (min-width: 480px) and (max-width: 639px) {
    }
    @media (min-width: 640px) and (max-width: 767px) {
    }
    @media (min-width: 768px) and (max-width: 1023px) {
    }
    @media (min-width: 1024px) and (max-width: 1199px) {
    }
    @media (min-width: 1200px) and (max-width: 1439px) {
    }
    @media (min-width: 1440px) {
    }
}
