.dropdown-guests {
    overflow: hidden;

    display: grid;
    position: absolute;
    width: 320px;
    left: 587px;
    top: 196px;

    border: 1px solid rgba(31, 32, 65, 0.5);
    box-sizing: content-box;
    border-radius: 2px;
    img {
        position: relative;
    }

    @media (max-width: 479px) {
    }
    @media (min-width: 480px) and (max-width: 639px) {
    }
    @media (min-width: 640px) and (max-width: 767px) {
    }
    @media (min-width: 768px) and (max-width: 1023px) {
    }
    @media (min-width: 1024px) and (max-width: 1199px) {
    }
    @media (min-width: 1200px) and (max-width: 1439px) {
    }
    @media (min-width: 1440px) {
    }
}
.img-box {
    display: grid;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
}

.dropdown-box {
    width: 320px;
    height: 159px;

    background: #ffffff;
    /* Dark 50% */
    border: 1px solid rgba(31, 32, 65, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.dropdown-button {
    display: grid;

    grid-template-columns: 86.25% 13.75%;
    width: 320px;
    height: 44px;
    background: #ffffff;
    justify-content: space-between;
    align-items: center;
}

.dropdown-text {
    padding-left: 15px;
}

.hide {
    display: none !important;
}
