.dropdown {
    &-guests {
        display: grid;
        position: absolute;
        overflow: hidden;
        box-sizing: border-box;

        width: 320px;
        left: 387px;
        top: 196px;
    }
    &__button {
        display: grid;
        box-sizing: border-box;
        grid-template-columns: 86.25% 13.75%;
        width: 320px;
        height: 44px;
        background: #ffffff;
        justify-content: space-between;
        align-items: center;
        background: #ffffff;

        /* Dark 50% */

        border: 1px solid rgba(31, 32, 65, 0.5);
        box-sizing: border-box;
        border-radius: 2px 2px 0px 0px;

        //

        /* Сколько гостей */

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height, or 129% */

        /* Dark 75% */
        color: rgba(31, 32, 65, 0.75);
    }
    &__text {
        padding-left: 15px;
    }
    &__img-box {
        display: grid;
        width: 44px;
        height: 44px;
        align-items: center;
        justify-content: center;
    }

    img {
        position: relative;
    }
    &__increase {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 30px;
        height: 30px;

        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 22px;

        margin-top: 7px;
        margin-right: 7px;
    }

    &__decrease {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 7px;
        /* Rectangle 2 */

        width: 30px;
        height: 30px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        box-sizing: border-box;
        border-radius: 22px;
    }
    &__popup {
        position: absolute;
        display: grid;
        grid-template-columns: 69.0625% 9.375% 10% 11.5625%;
        width: 320px;
        height: 159px;

        background: #ffffff;
        /* Dark 50% */
        border: 1px solid rgba(31, 32, 65, 0.5);
        box-sizing: border-box;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        border-radius: 0px 0px 2px 2px;
    }
    &__counter {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;
        /* Dark 100% */
        color: #1f2041;
        margin-top: 13px;
    }
    &__option-text {
        margin-left: 15px;
        margin-top: 13px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */
        text-transform: uppercase;

        /* Dark 100% */
        color: #1f2041;
    }

    @media (max-width: 479px) {
    }
    @media (min-width: 480px) and (max-width: 639px) {
    }
    @media (min-width: 640px) and (max-width: 767px) {
    }
    @media (min-width: 768px) and (max-width: 1023px) {
    }
    @media (min-width: 1024px) and (max-width: 1199px) {
    }
    @media (min-width: 1200px) and (max-width: 1439px) {
    }
    @media (min-width: 1440px) {
    }
}

.hide {
    display: none !important;
}
