extends ../page-template/page-template

include ../../components/footer/footer
include ../../components/header/header

include ../../components/benefits/benefits
include ../../components/block-subtitle/block-subtitle
include ../../components/block-title/block-title
include ../../components/bullet-list/bullet-list
include ../../components/checkbox-list/checkbox-list
include ../../components/checkbox-expandable-list/checkbox-expandable-list
include ../../components/feedback/feedback
include ../../components/impressions/impressions
include ../../components/rich-checkbox/rich-checkbox


include ../../card-blocks/booking-card/booking-card

block content 
    -const feedbackA = ['Мурад Сарафанов','./img/sarafanov.png', '5 дней назад', [1,11], 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.']
    -const feedbackB = ['Патрисия Стеклышкова','./img/steklishkova.png', 'Неделю назад',[2,2], 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент']
    section.room-page
        +header('signin')
        main
            section.room-page__images-container
                img(class="room-page__img-1" src='./img/room-888__big-1.jpg' alt='room-img' width='981' height='485')
                img(class="room-page__img-2" src='./img/room-888__medium-1.jpg' alt='room-img' width='461' height='243')
                img(class="room-page__img-3" src='./img/room-888__medium-2.jpg' alt='room-img' width='461' height='243')
            section.room-page__main-container 
                section.room-page__room-info
                    section.room-page__benefits-container
                        +benefits('benefits-emotion.svg','Комфорт', 'Шумопоглощающие стены')
                        +benefits('benefits-location.svg','Удобство', 'Окно в каждой из спален')
                        +benefits('benefits-whatshot.svg','Уют', 'Номер оснащён камином')
                    +impressions()
                    section.room-page__feedback-container
                        h2(class='room-page__title' style= {margin: '0 0 16px 0'}) Отзывы посетителей номера
                        +feedback(...feedbackA)
                        +feedback(...feedbackB)
                    section.room-page__cancel
                        h2(class='room-page__title' style= {margin: '0 0 16px 0'}) Отмена
                        p.room-page__cancel-caption Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
                +booking-card(888, 'ЛЮКС', '9 990₽')                               
        +footer('')