extends ../page-template/page-template

include ../../components/footer/footer
include ../../components/header/header

include ../../components/benefits/benefits
include ../../components/block-subtitle/block-subtitle
include ../../components/block-title/block-title
include ../../components/checkbox-list/checkbox-list
include ../../components/checkbox-expandable-list/checkbox-expandable-list
include ../../components/dropdown/dropdown
include ../../components/filter-date-dropdown/filter-date-dropdown
include ../../components/rich-checkbox/rich-checkbox


include ../../card-blocks/booking-card/booking-card
include ../../card-blocks/login-card/login-card
include ../../card-blocks/registration-card/registration-card
include ../../card-blocks/room-card/room-card
include ../../card-blocks/searching-card/searching-card


block content 
    section.room-page
        +header('signin')
        main
            section.room-page__images-container
                img(class="room-page__img-1" src='./img/dropdown.svg' alt='room-img' width='981' height='485')
                img(class="room-page__img-2" src='./img/dropdown.svg' alt='room-img' width='461' height='243')
                img(class="room-page__img-3" src='./img/dropdown.svg' alt='room-img' width='461' height='243')
            section.room-page__main-container 
                section.room-page__room-info
                    +benefits()
                    +impressions()
                    +feedback('Мурад Сарафанов','./img/sarafanov.png', '5 дней назад', 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.' )
                    +feedback('Мурад Сарафанов','./img/sarafanov.png', '5 дней назад', 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.' )
                +booking-card(888, 'ЛЮКС', '9 990₽')                               
        +footer('')