@import './../../styles/mixins/fonts.scss';
@import './../../styles/mixins/font-faces.scss';
@import './../../styles/variables/colors.scss';
@import './../../../node_modules/reset-css/sass/_reset.scss';

.header {
    &-block {
        display: grid;
        width: 1440px;
        background: #ffffff;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        @media (max-width: 479px) {
            max-width: 100vw;
            grid-template-columns: 100%;
            justify-content: center;
        }

        @media (min-width: 480px) and (max-width: 639px) {
            max-width: 100vw;
            grid-template-columns: 100%;
            justify-content: center;
            row-gap: 10px;
        }
        @media (min-width: 640px) and (max-width: 768px) {
            max-width: 100vw;
            grid-template-columns: 100%;
            margin-bottom: 10px;
            justify-content: center;
        }
        @media (min-width: 768px) and (max-width: 1023px) {
            max-width: 100vw;
            grid-template-columns: 23% 67%;
            margin-bottom: 10px;
            justify-content: center;
        }
        @media (min-width: 1024px) and (max-width: 1279px) {
            max-width: 100vw;
            grid-template-columns: 24% 40% 36%;
            margin-bottom: 10px;
        }
        @media (min-width: 1280px) and (max-width: 1439px) {
            max-width: 100vw;
            grid-template-columns: 20% 50% 30%;
            margin-bottom: 20px;
        }
        @media (min-width: 1440px) {
            width: 1440px;
            grid-template-columns: 245.7px minmax(447px, 933px) 1fr;
            margin-bottom: 40px;
        }
    }
    &-logo-container {
        display: grid;
        @media (max-width: 479px) {
            padding-top: 60px;
            padding-bottom: 20px;
            justify-content: center;
        }
        @media (min-width: 480px) and (max-width: 767px) {
            padding-top: 20px;
            justify-content: center;
        }
        @media (min-width: 768px) and (max-width: 1023px) {
            margin-left: 20px;
        }
        @media (min-width: 1024px) and (max-width: 1439px) {
            margin-left: 30px;
        }
        @media (min-width: 1440px) {
            margin-left: 140px;
        }
    }

    &__nav {
        display: grid;
        grid-template-columns: 43px 74px 72px 62px 116px;
        justify-content: right;
        align-content: center;

        column-gap: 20px;
        padding-right: 20px;
        @include body-font($dark-shade-50, normal, 1.4167rem);
        .about {
            @include body-font($dark-shade-75, bold, 1.4167rem);
            font-size: 14px;
        }
        .services {
            display: grid;
            grid-template-columns: 50px 24px;
            @include body-font($dark-shade-50, normal, 1.4167rem);
        }
        .agreements {
            display: grid;
            grid-template-columns: 92px 24px;
            @include body-font($dark-shade-50, normal, 1.4167rem);
        }
        a {
            @include body-font($dark-shade-50, normal, 1.4167rem);
        }
        @media (max-width: 479px) {
            grid-template-columns: 70px 74px 72px;
            column-gap: 15px;
            row-gap: 20px;
            padding-bottom: 20px;
            justify-content: center;
        }
        @media (min-width: 480px) and (max-width: 767px) {
            display: none;
        }
        @media (min-width: 768px) and (max-width: 1023px) {
        }
        @media (min-width: 1024px) and (max-width: 1279px) {
        }
        @media (min-width: 1280px) and (max-width: 1439px) {
        }
        @media (min-width: 1440px) {
        }
    }
    &__expandable-link {
        display: grid;
        align-self: center;
        justify-self: center;
        width: 0.8571rem;
        height: 0.5714rem;
    }
    &__auth {
        display: grid;
        align-content: center;
        grid-template-columns: 87px 196px;

        @media (max-width: 479px) {
            grid-template-columns: max-content;
            padding-bottom: 10px;
            justify-content: center;
            justify-items: center;
            row-gap: 10px;
        }
        @media (min-width: 480px) and (max-width: 640px) {
            padding-bottom: 20px;
            justify-content: center;
            column-gap: 10px;
        }
        @media (min-width: 640px) and (max-width: 767px) {
            grid-area: 2/1/2/3;
            column-gap: 10px;
            padding-bottom: 20px;
            justify-content: center;
        }

        @media (min-width: 768px) and (max-width: 1023px) {
            column-gap: 10px;
            margin-right: 10px;
            justify-content: center;
            grid-area: 2/1/2/3;
            padding-bottom: 20px;
        }
        @media (min-width: 1024px) and (max-width: 1439px) {
            margin-right: 70px;
            column-gap: 20px;
        }
        @media (min-width: 1440px) {
            margin-right: 140px;
            column-gap: 20px;
        }
    }
    &__registration {
        margin-left: 20px;
    }
    &__profile {
        display: grid;
        grid-template-columns: 20px 1fr;
        align-content: center;
        // margin: 0 140px 0 0px;

        .vertical-line {
            /* Rectangle */
            width: 1px;
            height: 30px;
            // margin-left: 20px;

            background: $dark-shade-10;
        }
        .username {
            display: grid;
            align-content: center;
            padding-left: 1px;
            @include body-font($dark-shade-50, normal, 1.4167rem);
        }
    }

    &__login-button-box {
        width: 87px;
        height: 34px;
        box-sizing: border-box;
    }
    &__registration-button-box {
        width: 196px;
        height: 34px;
        box-sizing: border-box;
    }
    &__hamburger {
        display: none;
        @media (min-width: 320px) and (max-width: 767px) {
            display: block;
        }

        &-button {
            position: absolute; /* remove standart styles */
            z-index: -1;
            opacity: 0;
            &:checked + span {
                border-color: #8ba4f9;
            }
            &:checked + span::before {
                opacity: 1;
            }
            // #menu__toggle:checked ~ .menu__box {
            //     visibility: visible;
            //     left: 0;
            // }
            &:checked ~ .header__hamburger-menu {
                display: grid;
                grid-template-columns: max-content;
                grid-template-rows: 20px;
                justify-items: center;
                justify-content: center;
            }
        }
        &-new-icon {
            display: inline-block;
            position: relative;
            box-sizing: border-box;
            width: 20px;
            height: 20px;
            background: #ffffff;
            border: 1px solid rgba(31, 32, 65, 0.25);
            border-radius: 4px;
            &::before {
                content: '';
                position: absolute;
                left: 10px;
                top: 10px;
                transform: translate(-500%, -50%);
                width: 4px;
                height: 6px;
                border-image: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
                border-image-slice: 1;
                border-right-width: 2px;
                border-right-style: solid;
                border-bottom-width: 2px;
                border-bottom-style: solid;
                transform: rotate(45deg);
                opacity: 0;
            }
        }
        &-menu {
            display: none;
            position: fixed;
            left: 10px;
            right: 10px;
            top: 10px;
            width: 90%;
            border: 2px solid black;
            background-color: white;
            border-radius: 5px;
            .about {
                @include body-font($dark-shade-75, bold, 1.4167rem);
                font-size: 14px;
            }
            .services {
                display: grid;
                grid-template-columns: 50px 24px;
                @include body-font($dark-shade-50, normal, 1.4167rem);
            }
            .agreements {
                display: grid;
                grid-template-columns: 92px 24px;
                @include body-font($dark-shade-50, normal, 1.4167rem);
            }
            a {
                @include body-font($dark-shade-50, normal, 1.4167rem);
            }
        }
    }
    &__hamburger-button:checked ~ .header__hamburger-menu {
   
        display: grid;
        grid-template-columns: max-content;
        grid-template-rows: 20px;
        justify-items: center;
        justify-content: center;
    }
}
