include ../../components/button/button
include ../../components/logo-toxin/logo-toxin

mixin header(isSignIn) 
    header.header-block
        section.header-logo-container
            +logo-toxin()
        nav.header__nav 
            a.about(href="") О нас
            span.services.expandable-link
                a.agreements__link(href="") Услуги
                img.header__expandable-link(src='./img/link-expand.svg' alt='link-expand' width='12' height='8')
            a.vacancies(href="") Вакансии
            a.news(href="") Новости
            span.agreements 
                a.agreements__link(href="") Соглашения
                img.header__expandable-link(src='./img/link-expand.svg' alt='link-expand' width='12' height='8')
        if (isSignIn)
            section.header__auth
                .header__login-button-box
                    +button('white', 'войти')
                .header__registration-button-box
                    +button('purple', 'зарегистрироваться')
        else
            section.header__profile
                .vertical-line 
                .username Юлий Цезарь
