@import './../../styles/mixins/fonts.scss';
@import './../../styles/mixins/font-faces.scss';
@import './../../styles/variables/colors.scss';

.booking-card {
    &-block {
        display: grid;
        box-sizing: border-box;
        align-items: flex-start;

        padding: 39px 30px 30px 29px;
        grid-template-rows: 50px 85px 85px 134px 44px 44px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }
    &__title {
        &-box {
            display: grid;
            grid-template-columns: 20px 55px 145px 55px 45px;
        }
        &-number-sign {
            @include body-font($dark-shade-100, bold, 17px);
            padding-top: 10px;
        }
        &-number {
            @include h1;
            padding-left: 1px;
        }
        &-lux {
            @include h3($purple);
            padding: 13px 0 0 2px;
        }
        &-price {
            @include body-font($dark-shade-50, bold, 18px);
            padding-top: 10px;
        }
        &-in-a-day {
            @include caption-font($dark-shade-50, normal, 18px);
            padding: 11px 0 0 0px;
        }
    }

    &__price {
        &-box {
            display: grid;
            grid-template-columns: 220px 42px 1fr;
            grid-template-rows: 34px 34px 36px;
            padding-right: 1px;
        }

        &-text {
            @include body-font($line-height: 1.2857rem);
            padding-left: 1px;
            &_right {
                @include body-font($line-height: 1.2857rem);
                display: grid;
                justify-content: right;
                padding-right: 2px;
            }
        }
    }
    &__info-icon {
        display: grid;
        align-content: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;

        border: 1px solid $dark-shade-25;
        border-radius: 50%;
        box-sizing: border-box;
        color: $dark-shade-25;
    }
    &__summary {
        &-box {
            display: grid;
            grid-template-columns: 60px 183px 80px;
        }
        &-text {
            @include h2;
            text-transform: none;
        }
        &-border-div {
            width: 182px;
            height: 1px;
            border-top: 0.5px dashed rgba(31, 32, 65, 0.25);
            box-sizing: border-box;
            border-width: thin;
            margin: 18px 0 0 5px;
        }
    }
    // &__datepicker-box {
    // }
}
