include ../../components/datepicker/datepicker
include ../../components/dropdown/dropdown
include ../../components/button/button
include ../../components/block-title/block-title

mixin booking-card(number, isLux, price)
    form.booking-card-block
        .booking-card__title-box 
            p.booking-card__title-number-sign №
            p.booking-card__title-number 888
            p.booking-card__title-lux= isLux
            p.booking-card__title-price= price
            p.booking-card__title-in-a-day в сутки
        .booking-card__datepicker-box
            +datepicker(2, 'прибытие', 'выезд')
        .booking-card__dropdown-box
            div(class='searching-card__titles-container' style= {margin: '0 0 4px 0'})
                +block-title('гости')
            +dropdown(2, '', 'wide')
        .booking-card__price-box 
            p.booking-card__price-text 9 990₽ х 4 суток
            p.booking-card__price-text
            p.booking-card__price-text 39 960₽
            p.booking-card__price-text Сбор за услуги: скидка 2 179₽
            p.booking-card__info-icon i
            p.booking-card__price-text 0₽
            p.booking-card__price-text Сбор за дополнительные услуги
            p.booking-card__info-icon i
            p.booking-card__price-text 300₽
            
        .booking-card__button-box
            +button('with-arrow', 'забронировать')
        
        

