@import './../../styles/mixins/fonts.scss';
@import './../../styles/mixins/font-faces.scss';
@import './../../styles/variables/colors.scss';

.booking-card {
    &-block {
        display: grid;
        padding: 40px 30px 30px 30px;
        grid-template-rows: 50px 85px 84.56px 134px 44px 44px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }
    &__price-box {
        display: grid;
        grid-template-columns: 219px 43px 1fr;
    }
    &__price-text {
        @include body-font();
    }
    &__info-icon {
        display: grid;
        align-content: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;

        border: 1px solid $dark-shade-25;
        border-radius: 50%;
        box-sizing: border-box;
        color: $dark-shade-25;
    }
    &__title {
        &-box {
            display: grid;
            grid-template-columns: 20px 55px 139px 53px 53px;
        }
        &-number-sign {
            @include body-font($dark-shade-100,bold, 17px);
            padding-top: 10px;
        }
        &-number {
            @include h1;
            padding-left: 1px;
        }
        &-lux{
            @include h3($purple);
            padding: 13px 0 0 2px;
        }
        &-price{
            @include body-font($dark-shade-50,bold, 18px);
            padding-top: 10px;

        }
        &-in-a-day{
            @include caption-font($dark-shade-50,normal, 18px);
            padding-top: 10px;

        }

    }
    &__datepicker-box {
    }
}
