include ../../components/datepicker/datepicker
include ../../components/dropdown/dropdown
include ../../components/button/button
include ../../components/block-title/block-title

mixin booking-card(number, isLux, price, datepickerInstance=1, dropdownInstance=1)
    form.booking-card-block
        .booking-card__title-box 
            p.booking-card__title-number-sign №
            p.booking-card__title-number 888
            p.booking-card__title-lux= isLux
            p.booking-card__title-price= price
            p.booking-card__title-in-a-day в сутки
        .booking-card__datepicker-box
            +datepicker(datepickerInstance, 'прибытие', 'выезд')
        .booking-card__dropdown-box
            div(class='searching-card__titles-container' style= {margin: '0 0 5px 0'})
                +block-title('гости')
            +dropdown(dropdownInstance, '', 'wide')
        .booking-card__price-box 
            p.booking-card__price-text 9 990₽ х 4 суток
            p.booking-card__price-text
            p.booking-card__price-text_right 39 960₽
            p.booking-card__price-text Сбор за услуги: скидка 2 179₽
            p.booking-card__info-icon i
            p.booking-card__price-text_right 0₽
            p.booking-card__price-text Сбор за дополнительные услуги
            p.booking-card__info-icon i
            p.booking-card__price-text_right 300₽
        .booking-card__summary-box 
            p.booking-card__summary-text Итого
            .booking-card__summary-border-div
            p.booking-card__summary-text 38 081₽
        .booking-card__button-box 
            +button('with-arrow', 'забронировать')
        
        

