extends ../ui-kit-template/ui-kit-template
include ../../components/header/header


block content 
    main.headers-footers-page-container
        section.headers-footers__header-container
            +header()
