.headers-footers {
    &-page {
        background-color: #e5e5e5;
        max-width: 1440px;
    }
    &__header-container {
        padding-top: 140px;
    }
    // &__footer-container {
    //     // margin-top: 40px;
    // }
}
