include ../../components/button/button
include ../../components/block-title/block-title
include ../../components/datepicker/datepicker
include ../../components/dropdown/dropdown
include ../../components/masked-text-field/masked-text-field


mixin registration-card
    form.registration-card-block
        .registration-card__title Регистрация аккаунта
        .registration-card__text-fields
            +text-field('','name', 'Имя')
            +text-field('','surname', 'Фамилия')
        .registration-card__radio-buttons
            +radio-button()
        .registration-card__date
            div(class='searching-card__titles-container' style= {margin: '0 0 4px 0'})
                +block-title('дата рождения')
            +masked-text-field('','date','ДД.ММ.ГГГГ')
        .registration-card__user-data
            div(class='searching-card__titles-container' style= {margin: '0 0 4px 0'})
                +block-title('данные для входа в сервис')
            .registration-card__text-fields
                +text-field('','email', 'Email')
                +text-field('','password', 'Пароль')
        .registration-card__toggle
            +toggle('Получать спецпредложения')
        .registration-card__button-box
            +button('with-arrow', 'перейти к оплате')
        .registration-card__login-box
            .registration-card__login-caption Уже есть аккаунт на Toxin
            +button('white', 'войти')

        
        

