@import './../../styles/mixins/fonts.scss';
@import './../../styles/mixins/font-faces.scss';
@import './../../styles/variables/colors.scss';

.registration-card {
    &-block {
        display: grid;
        align-items: flex-start;
        grid-template-rows: 50px 105.56px 47px 84px 124px 47px 74px 44px;
        padding: 40px 30px 30px 30px;
    }
    &__title {
        @include h1;
        text-transform: none;
    }
    &__text-fields {
        display: grid;
        row-gap: 10px;
    }
    &__radio-buttons {
        display: grid;
        align-items: flex-start;
        grid-template-columns: 98px 98px;
        column-gap: 20px;
    }
}
