@import './../../styles/mixins/fonts.scss';
@import './../../styles/mixins/font-faces.scss';
@import './../../styles/variables/colors.scss';

.registration-card {
    &-block {
        display: grid;
        align-items: flex-start;
        grid-template-rows: 50px 105.56px 47px 84px 124px 47px 74px 44px;
        padding: 39px 30px 30px 29px;

        border: 1px solid rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    }
    &__title {
        @include h1;
        text-transform: none;
    }
    &__text-fields {
        display: grid;
        row-gap: 10px;
    }
    &__radio-buttons {
        display: grid;
        align-items: flex-start;
        grid-template-columns: 98px 98px;
        column-gap: 20px;
    }
    &__login-box {
        display: grid;
        grid-template-columns: 186px 99px;
        column-gap: 35px;
    }

    &__login-caption {
        display: grid;
        align-items: center;
        @include body-font($dark-shade-100, normal, 1.2857rem);
    }
}
