include ../../components/block-title/block-title
mixin datepicker(instance,title1='date dropdown', title2='date dropdown', isOpen)
    if !isOpen
        section.datepicker-form
            .datepicker__titles-container
                +block-title(title1)
                +block-title(title2)
            .datepicker__inputs-container
                .datepicker__input-box
                    input(class="datepicker-here js-datepicker-input js-datepicker-input_instance-" + instance type='text' data-range='true' data-multiple-dates-separator=' - ' placeholder='ДД.ММ.ГГГГ' )
                    span(class="dropdown__img-box js-dropdown__img-box")
                        img(src='./img/dropdown.svg' alt='open' width='13' height='8')
                .datepicker__input-box
                    input(class="js-datepicker-input js-datepicker-second-input js-datepicker-second-input_instance-" + instance type='text' data-range='true' data-multiple-dates-separator=' - ' placeholder='ДД.ММ.ГГГГ')
                    span(class="dropdown__img-box js-dropdown_instance__img-box")
                        img(src='./img/dropdown.svg' alt='open' width='13' height='8')
    else 
        section.datepicker-form
            .datepicker__titles-container
                +block-title(title1)
                +block-title(title2)
            .datepicker__inputs-container
                .datepicker__input-box
                    div#start_one.datepicker-here.js-datepicker-input(type='text' data-range='true' data-multiple-dates-separator=' - ' placeholder='ДД.ММ.ГГГГ' )
                    span(class="dropdown__img-box js-dropdown_instance-" + instance + "__img-box")
                        img(src='./img/dropdown.svg' alt='open' width='13' height='8')
                .datepicker__input-box
                    input#end_one.js-datepicker-input(type='text' data-range='true' data-multiple-dates-separator=' - ' placeholder='ДД.ММ.ГГГГ')
                    span(class="dropdown__img-box js-dropdown_instance-" + instance + "__img-box")
                        img(src='./img/dropdown.svg' alt='open' width='13' height='8')
