.datepicker {
    &-form {
        width: 320px;
    }
    &__inputs-container {
        display: grid;
        grid-template-columns: 150px 150px;
        gap: 20px;
    }
    &__input-box {
        display: grid;
        grid-template-columns: 106px 44px;
        gap: 0px;
        border: 1px solid #1f204140;
        border-radius: 4px;
    }

    &__titles-container {
        display: grid;
        grid-template-columns: 150px 150px;
        gap: 20px;
        margin-bottom: 5px;
    }
}
