mixin datepicker()
    form
        .one
            div#start_one.datepicker-here.js-datepicker-input(type='text' data-range='true' data-multiple-dates-separator=' - ' placeholder='ДД.ММ.ГГГГ' )
            //- input#end_one.js-datepicker-input(type='text' data-range='true' data-multiple-dates-separator=' - ' placeholder='ДД.ММ.ГГГГ')
