.filter-date-dropdown {
    &-form {
        display: grid;
        box-sizing: border-box;
        width: 266px;
        grid-template-columns: 222px 44px;
        border: none;
        border-radius: 4px;
        .js-datepicker-input {
            width: 266px;
        }
    }
    // &__input {
    //     width: 300px;
    // }
}
