mixin filter-date-dropdown()
    form
        input#start_one.datepicker-here.js-datepicker-input(type='text' data-range='true' data-date-format="d M" data-multiple-dates-separator=' - ' placeholder='ДД.ММ.ГГГГ' )
         