mixin filter-date-dropdown()
    form
        //- .filter-date-dropdown-container
        input#start_one.datepicker-here.filter-date-dropdown-input.js-datepicker-input(type='text' data-range='true' data-date-format="d M" data-multiple-dates-separator=' - ' placeholder='ДД.ММ.ГГГГ' )
         