include ../like-button/like-button
mixin feedback(name, img, date, text)
    .feedback-container 
        .feedback__icon
            img(class="feedback__icon-img" src=`${img}` alt='author-icon' width='88' height='88')
        .feedback__author-date-container
            .feedback__author-name= name
            .feedback__date= date
        .feedback__like
            +like-button(3, 11)
        .feedback__text= text