@import './../../styles/mixins/fonts.scss';
@import './../../styles/variables/colors.scss';

.feedback {
    &-container {
        display: grid;
        grid-template-columns: 58px 653px;
        grid-template-rows: 48px 70px;
        // row-gap: 10px;
    }
    &__author-name {
        display: grid;

        @include body-font($weight: bold);
    }
    &__date {
        display: grid;

        @include body-font;
    }
    &__text {
        display: grid;

        @include body-font;
        padding-top: 10px;
        // padding-left: 4px;
    }
    &__icon {
        display: grid;

        width: 48px;
        height: 48px;
        // overflow: hidden;
        display: grid;
        justify-content: left;
        &-img {
            margin-top: -10px;
            margin-left: -20px;
        }
    }
    &__like {
        padding-top: 12px;
        padding-left: 4px;
    }
}
