include ../like-button/like-button
mixin feedback()
    .feedback-container 
        .feedback__icon
            img.emotion-icon(src='./img/murad.svg' alt='author-icon' width='48' height='48')
        .feedback__author-name Мурад Сарафанов
        .feedback__date 5 дней назад
        .feedback__like
            +like-button()
        .feedback__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
