@import './../../styles/mixins/fonts.scss';
@import './../../styles/variables/colors.scss';

.feedback {
    &-container {
        display: grid;
        grid-template-columns: 58px 653px;
    }
    &__author-name {
        @include body-font($weight: bold);
    }
    &__date {
        @include body-font;
    }
    &__text {
        @include body-font;
    }
    &__icon {
        width: 48px;
        height: 48px;
        overflow: hidden;
        display: grid;
        justify-content: left;
    }
}
