mixin checkbox(text, addingText)
    label.checkbox-label
        input.checkbox__input(type='checkbox')
        span.checkbox__new-icon
        if addingText
            span.checkbox__rich-title #{text}
            span.checkbox__rich-subtitle #{addingText}
        else
            span.checkbox__text #{text}

