mixin checkbox(text, subtitleOne, subtitleTwo)
    if subtitleOne
        label.rich-checkbox-label
            input.rich-checkbox__input(type='checkbox')
            span.rich-checkbox__new-icon
            .rich-checkbox__text-box
                span.rich-checkbox__title #{text}
                span.rich-checkbox__subtitle #{subtitleOne}
                span.rich-checkbox__subtitle #{subtitleTwo}

    else
        label.checkbox-label
            input.checkbox__input(type='checkbox')
            span.checkbox__new-icon
            span.checkbox__text #{text}


