@import './../../styles/variables/colors.scss';

.checkbox {
    display: grid;
    grid-template-columns: 30% 70%;
    &-text {
        /* Шампунь */

        position: absolute;
        width: 192px;
        height: 18px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height, or 129% */

        /* Dark 50% */
        color: rgba(31, 32, 65, 0.5);
    }
}
.checkbox > input {
    /* remove standart styles */
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label связанного с .checkbox */

.checkbox > span {
    display: grid;
    position: relative;
    display: inline-flex;
    align-items: center;
    user-select: none;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.checkbox > span::before {
    content: '';
    position: relative;
    box-sizing: border-box;
    width: 20px;
    height: 20px;

    background: #ffffff;
    /* Dark 25% */

    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.checkbox > input:checked + span::before {
    border-color: #8ba4f9;
}
.checkbox > input:checked + span::after {
    content: '';
    position: absolute;
    left: 7px;
    top: 5px;
    width: 4px;
    height: 6px;
    border-image: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    border-image-slice: 1;
    border-right-width: 2px;
    border-right-style: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    transform: rotate(45deg);
}

/* стили при наведении курсора на радио */
.checkbox > input:not(:disabled):not(:checked) + span:hover::before {
    border-color: #b3d7ff;
}

/* стили для активной радиокнопки (при нажатии на неё) */
.checkbox > input:not(:disabled):active + span::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}
