// @import './../../styles/mixins/font-faces.scss';
@import './../../styles/variables/colors.scss';
@import './../../styles/mixins/fonts.scss';

/* remove standart styles */
$checkmarkWidth: 4px;
$checkmarkHeight: 6px;
$newIconWidth: 20px;
.checkbox {
    &-label {
        display: grid;
        grid-template-columns: 30px 1fr;
        grid-template-rows: 30px;
        row-gap: 100px;
    }
    &-input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        &:checked + span {
            border-color: #8ba4f9;
        }
        &:checked + span::before {
            opacity: 1;
        }
    }
    &-new-icon {
        display: inline-block;
        position: relative;
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        background: #ffffff;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;
        &::before {
            content: '';
            position: absolute;
            left: (0.4 * $newIconWidth) - (0.5 * $checkmarkWidth);
            top: (0.4 * $newIconWidth)- (1 * $checkmarkWidth);
            transform: translate(-500%, -50%);
            width: 4px;
            height: 6px;
            border-image: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
            border-image-slice: 1;
            border-right-width: 2px;
            border-right-style: solid;
            border-bottom-width: 2px;
            border-bottom-style: solid;
            transform: rotate(45deg);
            opacity: 0;
        }
    }
    &-text {
        // display: grid;
        // align-self: center;
        height: 18px;
        align-self: flex-start;
        align-content: center;
        // @include font-face;
        @include body-font(yellow, bold);

        /* identical to box height, or 129% */

        /* Dark 50% */
        color: rgba(31, 32, 65, 0.5);
    }
}
