@import './../../styles/mixins/fonts.scss';
@import './../../styles/mixins/font-faces.scss';
@import './../../styles/variables/colors.scss';
.bullet-list {
    &-form {
        padding-left: 21px;
    }
}
.bullet-list > li {
    list-style: none;
    @include body-font;
    padding: 0;
}
ul.bullet-list {
    display: grid;
    grid-template-columns: 240px;
    grid-template-rows: 34px 34px 48px;
    text-indent: -21px;
}

.bullet-list li::before {
    content: '•';
    font-size: 70px;
    line-height: 0;
    position: relative;
    top: 14px;
    left: -5px;
    color: $dark-shade-25;
}
