include ../block-title/block-title
mixin bullet-list()
    +block-title('bullet list')
    .bullet-list-container
        ul(class="bullet-list")
            li Нельзя с питомцами
            li Без вечеринок и мероприятий
            li Время прибытия — после 13:00, а выезд до 12:00
