@import './../../styles/mixins/fonts.scss';
@import './../../styles/mixins/font-faces.scss';
@import './../../styles/variables/colors.scss';
@import './../../../node_modules/reset-css/sass/_reset.scss';

.footer {
    &-block {
        display: grid;
        padding-top: 100px;
        background-color: white;
    }
    &__group-title {
        text-transform: uppercase;
        @include h3;
        margin: 0px 0 21px 0;
    }
    &__link {
        margin: 0 0 20px 0;
        @include body-font($dark-shade-50, normal, 1.4167rem);
        text-transform: capitalize;
    }
    &__caption {
        margin: 0 0 21px 0;
        @include body-font($dark-shade-75, normal, 24px);
        text-transform: capitalize;
        @media (max-width: 767px) {
            display: none;
        }
    }
    &-widgets {
        display: grid;
        grid-template-columns: 440px 200px 200px 200px 260px;
    }
    &__logo-caption-container {
        display: grid;
        width: 260px;
        margin-left: 140px;
        .logo-toxin-block {
            padding: 0px 0 0px 0;
        }
    }
    &__group {
        display: grid;
        align-items: flex-start;
        align-self: flex-start;
        align-content: flex-start;
        justify-content: left;
        padding: 4px;
        @media (max-width: 767px) {
            display: none;
        }
    }
    &-copyright-bar {
        display: grid;
        width: 1160px;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        padding: 0 140px 0 140px;
    }
    &__social-networks {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        justify-content: right;
    }
}
