include ../../components/button/button
include ../../components/logo-toxin/logo-toxin

mixin footer(mobile)
    if (!mobile)
        footer.footer-block
            +logo-toxin()
            nav.footer__nav 
                a.about(href="") О нас
                span.services.expandable-link
                    a.agreements__link(href="") Услуги
                    img.footer__expandable-link(src='./img/link-expand.svg' alt='link-expand' width='12' height='8')
                a.vacancies(href="") Вакансии
                a.news(href="") Новости
                span.agreements 
                    a.agreements__link(href="") Соглашения
                    img.footer__expandable-link(src='./img/link-expand.svg' alt='link-expand' width='12' height='8')
    else
        footer.mobile-footer-block

