include ../../components/button/button
include ../../components/logo-toxin/logo-toxin

mixin footer()
    footer.footer-block
        section.footer-widgets
            section.footer__logo-toxin-container
                +logo-toxin()
            section.footer__navigation
                p.footer__group-title Навигация
                p.footer__link О нас
                p.footer__link Новости
                p.footer__link Новости
                p.footer__link Новости              
            section.footer__about  
                p.footer__group-title О нас
                p.footer__link О сервисе
                p.footer__link Наша команда           
                p.footer__link Вакансии               
                p.footer__link Инвесторы
            section.footer__support        
                p.footer__group-title О нас
                p.footer__link О сервисе
                p.footer__link Наша команда           
                p.footer__link Вакансии               
                p.footer__link Инвесторы                
            section.footer__subscribe
                p.footer__group-title О нас
                p.footer__link О сервисе
                p.footer__link Наша команда           
                p.footer__link Вакансии               
                p.footer__link Инвесторы                
        section.footer-copyright-bar