@import './../../styles/mixins/fonts.scss';
@import './../../styles/mixins/font-faces.scss';
@import './../../styles/variables/colors.scss';
@import './../../../node_modules/reset-css/sass/_reset.scss';

.footer {
    &-block {
        display: grid;
    }
    &__group-title {
        text-transform: uppercase;
        @include h3;
        margin: 104px 0 21px 0;
    }
    &__link {
        margin: 0 0 20px 0;
        @include body-font($dark-shade-50, normal, 1.4167rem);
        text-transform: capitalize;
    }
    &-widgets {
        display: grid;
        grid-template-columns: 440px 200px 200px 200px 260px;
    }
}
