mixin logo-toxin()
    section.logo-toxin-block
        img.logo-toxin__logo(src='./img/colored-logo.svg' alt='logo' width='40' height='40')
        img.logo-toxin__toxin(src='./img/toxin.svg' alt='toxin-title' width='64' height='14')
