mixin toggle(toggleText)
    label.toggle__container
        span.toggle__container_inline
            input(type='checkbox')
            span.toggle__slider.round
            span.toggle__caption= toggleText

