@import './../../styles/mixins/fonts.scss';
@import './../../styles/variables/colors.scss';

.toggle-container {
    display: grid;
    margin-bottom: 10px;
    align-content: flex-start;
    align-items: flex-start;

    .toggle-inline-container {
        display: grid;
        grid-template-columns: 15.39% 84.61%;
    }
    width: 260px;
    position: relative;
    height: 20px;
    .toggle-caption {
        display: inline;
        align-content: flex-start;
        vertical-align: top;
        align-items: flex-start;
        width: 210px;
        @include body-font;
        margin-left: 10px;
    }
}

/* Hide default HTML checkbox */
.toggle-container input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    box-sizing: border-box;
    cursor: pointer;
    width: 40px;
    height: 20px;

    top: 3px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    // padding-top: 10px;
}

.slider:before {
    position: absolute;
    content: '';
    height: 12px;
    width: 12px;
    left: 8%;
    bottom: 16%;
    background-color: $dark-shade-25;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    border: 1px solid #8ba4f9;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    background-color: $purple;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
    border: 1px solid $purple;
    border: 1px solid $dark-shade-25;
}

.slider.round:before {
    border-radius: 50%;
}
