include base
body
    main
        section.container-a
        section.room-search 1
        section.sign-up 2
        section.container-b
        section.to-book 3
        section.sign-in 4
        section.container-c
        section.calendar 5
        section.room 6
        section.room 7
