.cards {
    &-page {
        display: grid;
        grid-template-columns: 140px 1160px 140px;
        grid-template-rows: 150px 1060px 140px;
    }
    &__margin-top-area {
        display: grid;
        box-sizing: border-box;
        grid-area: 1/1/2/4;
    }
    &__margin-left-area {
        display: grid;
        box-sizing: border-box;
    }
    &__content-area {
        display: grid;
        box-sizing: border-box;

        grid-template-columns: 380px 380px 320px;
        column-gap: 40px;
    }
    &__column-a {
        display: grid;
        box-sizing: border-box;

        grid-template-rows: 374px 646px;
        row-gap: 40px;
    }
    &__column-b {
        display: grid;
        box-sizing: border-box;

        grid-template-rows: 512px 358px;
        row-gap: 40px;
    }
    &__column-c {
        display: grid;
        box-sizing: border-box;

        grid-template-rows: 409px 297px 257px;
    }

    &__margin-right-area {
        display: grid;
        box-sizing: border-box;
    }
    &__margin-bottom-area {
        display: grid;
        box-sizing: border-box;
    }
    &-titles-container {
        display: grid;
    }
}
