.cards {
    &-page {
        display: grid;
        grid-template-columns: 140px 1160px 140px;
        // grid-template-rows: 150px 1060px 140px;
    }
    &__margin-top-area {
        display: grid;
        box-sizing: border-box;
        grid-area: 1/1/2/4;
        border: 1px solid black;
        // width: 100%;
    }
    &__margin-left-area {
        display: grid;
        box-sizing: border-box;
    }
    &__content-area {
        display: grid;
        box-sizing: border-box;

        grid-template-columns: 420px 420px 320px;
        border: 1px solid black;
    }
    &__margin-right-area {
        display: grid;
        box-sizing: border-box;
    }
    &__margin-bottom-area {
        display: grid;
        box-sizing: border-box;
    }
    &-titles-container {
        display: grid;
        // background-color: blue;
    }
}
