extends ../ui-kit-template/ui-kit-template

include ../../components/block-subtitle/block-subtitle
include ../../components/block-title/block-title
include ../../components/bullet-list/bullet-list
include ../../components/button/button
include ../../components/checkbox/checkbox
include ../../components/checkbox-expandable-list/checkbox-expandable-list
include ../../components/checkbox-list/checkbox-list
include ../../components/benefits/benefits
include ../../components/datepicker/datepicker
include ../../components/dropdown/dropdown
include ../../components/feedback/feedback
include ../../components/filter-date-dropdown/filter-date-dropdown
include ../../components/like-button/like-button
include ../../components/pagination/pagination
include ../../components/radio-button/radio-button
include ../../components/rate-button/rate-button
include ../../components/rich-checkbox/rich-checkbox
include ../../components/subscription-text-field/subscription-text-field
include ../../components/text-field/text-field
include ../../components/toggle/toggle

include ../../card-blocks/booking-card/booking-card
include ../../card-blocks/login-card/login-card
include ../../card-blocks/registration-card/registration-card
include ../../card-blocks/room-card/room-card
include ../../card-blocks/searching-card/searching-card

                
block content
    .cards-page
        .cards__margin-top-area
        .cards__margin-left-area
        .cards__content-area
            .cards__column-a
                .cards-searching
                    +searching-card()
                .cards-registration
                    +registration-card()
            .cards__column-b
                .cards-booking
                    +booking-card()
                .cards-login
                    +login-card()
            .cards__column-c
                .cards-calendar
                    div(class="datepicker -bottom-left- -from-bottom-") some text
                .cards-room-888
                    +room-card('room-888', '888', true, '9990', 5, 145 ) 
                .cards-room-840
                    +room-card('room-840', '840', false, '9990', 4, 65 ) 
        .cards__margin-right-area
        .cards__margin-bottom-area
