extends ../ui-kit-template/ui-kit-template

include ../../card-blocks/booking-card/booking-card
include ../../card-blocks/login-card/login-card
include ../../card-blocks/registration-card/registration-card
include ../../card-blocks/room-card/room-card
include ../../card-blocks/searching-card/searching-card


                
block content
    .cards-page
        .cards__margin-top-area
        .cards__margin-left-area
        .cards__content-area
            .cards__column-a
                .cards-searching
                    +searching-card()
                .cards-registration
                    +registration-card('перейти к оплате')
            .cards__column-b
                .cards-booking
                    +booking-card(888, 'ЛЮКС', '9 990₽', 2, 2)
                .cards-login
                    +login-card()
            .cards__column-c
                .cards-calendar
                    div(class="datepicker -bottom-left- -from-bottom-")
                .cards-room-888
                    +room-card('888', 'ЛЮКС', '9 990₽', 5, 145 ) 
                .cards-room-840
                    +room-card('840', ' ', '9 990₽', 4, 65 ) 
        .cards__margin-right-area
        .cards__margin-bottom-area
