@mixin h1($color: $dark-shade-100, $weight: bold) {
    font: normal $weight 1.7143rem/2.0714rem Montserrat, Arial, sans-serif;
    text-transform: uppercase;
    color: $color;
}

@mixin h2($color: $dark-shade-100, $weight: bold) {
    //как сделать так, чтобы в зависимости от weight грузился разный шрифт?
    font: normal $weight 1.3571rem /1.6429rem Montserrat, Arial, sans-serif;
    text-transform: uppercase;
    color: $color;
}

@mixin h3($color: $dark-shade-100, $weight: bold) {
    font: normal $weight 0.8571rem/1.0714rem Montserrat, Arial, sans-serif;
    text-transform: uppercase;
    color: $color;
}

@mixin body-font(
    $color: $dark-shade-75,
    $weight: normal,
    $line-height: 1.7143rem
) {
    font-style: normal;
    font-weight: $weight;
    font-size: 1rem;
    font-family: Montserrat, Arial, sans-serif;
    line-height: $line-height;
    color: $color;
}

// @mixin body-font($color: $dark-shade-75, $weight: normal, $line-height: 1.7143rem) {
//     font-family: 'Montserrat', Arial, Helvetica, sans-serif;
//     font-weight: $weight;
//     line-height: $line-height;
//     color: $color;
// }
