@mixin h1 {
    font: normal bold 24px/29px Montserrat, Arial, sans-serif;
    color: $dark-shade-100;
}

@mixin h2 {
    font: normal bold 19px/23px Montserrat, Arial, sans-serif;
    color: $dark-shade-100;
}

@mixin h3 {
    font: normal bold 12px/15px Montserrat, Arial, sans-serif;
    text-transform: uppercase;
    color: $dark-shade-100;
}
@mixin body-font {
    font: normal normal 14px/24px Montserrat, Arial, sans-serif;
    color: $dark-shade-75;
}
