//container for make width responsive from grid-template-columns minmax
@mixin responsive-container($minWidth, $maxWidth) {
    grid-template-columns: minmax($minWidth, $maxWidth);
}

//content with width, but without g-t-columns
@mixin responsive-content(
    $minWidth,
    $maxWidth,
    $defaultWidth,
    $fontSize,
    $lineHeight,
    $p-t,
    $p-r,
    $p-b,
    $p-l,
    $m-t,
    $m-r,
    $m-b,
    $m-l
) {
    $percent: $minWidth / $defaultWidth;
    min-width: 70%;
    width: 100%;
    font-size: $fontSize * $percent;
    line-height: $lineHeight * $percent;
    padding: ($p-t * $percent) ($p-r * $percent) ($p-b * $percent)
        ($p-l * $percent);
    margin: ($m-t * $percent) ($m-r * $percent) ($m-b * $percent)
        ($m-l * $percent);
}

@mixin responsive-font($fontSize, $lineHeight) {
    font-size: $fontSize;
    line-height: $lineHeight;
}

@mixin static(
    $width,
    $defaultWidth,
    $fontSize,
    $lineHeight,
    $p-t,
    $p-r,
    $p-b,
    $p-l,
    $m-t,
    $m-r,
    $m-b,
    $m-l
) {
    width: 100%;
    grid-template-columns: $width;
    font-size: $fontSize;
    line-height: $lineHeight;
    padding: ($p-t) ($p-r) ($p-b) ($p-l);
    margin: ($m-t) ($m-r) ($m-b) ($m-l);
}

@mixin media-container($width) {
    @media (max-width: 479px) {
        @include responsive-container($width * 0.22, $width * 0.33);
    }
    @media (min-width: 480px) and (max-width: 639px) {
        @include responsive-container($width * 0.33, $width * 0.53);
    }
    @media (min-width: 640px) and (max-width: 767px) {
        @include responsive-container($width * 0.53, $width * 0.71);
    }
    @media (min-width: 768px) and (max-width: 1023px) {
        @include responsive-container($width * 0.53, $width * 0.71);
    }
    @media (min-width: 1024px) and (max-width: 1279px) {
        @include responsive-container($width * 0.71, $width * 0.88);
    }
    @media (min-width: 1280px) and (max-width: 1439px) {
        @include responsive-container($width * 0.88, $width);
    }
    @media (min-width: 1440px) {
        @include static($width, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0);
    }
}

@mixin media-content(
    $width,
    $defaultWidth,
    $fontSize,
    $lineHeight,
    $p-t,
    $p-r,
    $p-b,
    $p-l,
    $m-t,
    $m-r,
    $m-b,
    $m-l
) {
    @media (max-width: 479px) {
        @include responsive-content(
            $width * 0.22,
            $width * 0.33,
            $defaultWidth,
            $fontSize,
            $lineHeight,
            $p-t,
            $p-r,
            $p-b,
            $p-l,
            $m-t,
            $m-r,
            $m-b,
            $m-l
        );
    }
    @media (min-width: 480px) and (max-width: 639px) {
        @include responsive-content(
            $width * 0.33,
            $width * 0.53,
            $defaultWidth,
            $fontSize,
            $lineHeight,
            $p-t,
            $p-r,
            $p-b,
            $p-l,
            $m-t,
            $m-r,
            $m-b,
            $m-l
        );
    }
    @media (min-width: 640px) and (max-width: 767px) {
        @include responsive-content(
            $width * 0.53,
            $width * 0.71,
            $defaultWidth,
            $fontSize,
            $lineHeight,
            $p-t,
            $p-r,
            $p-b,
            $p-l,
            $m-t,
            $m-r,
            $m-b,
            $m-l
        );
    }
    @media (min-width: 768px) and (max-width: 1023px) {
        @include responsive-content(
            $width * 0.53,
            $width * 0.71,
            $defaultWidth,
            $fontSize,
            $lineHeight,
            $p-t,
            $p-r,
            $p-b,
            $p-l,
            $m-t,
            $m-r,
            $m-b,
            $m-l
        );
    }
    @media (min-width: 1024px) and (max-width: 1279px) {
        @include responsive-content(
            $width * 0.71,
            $width * 0.88,
            $defaultWidth,
            $fontSize,
            $lineHeight,
            $p-t,
            $p-r,
            $p-b,
            $p-l,
            $m-t,
            $m-r,
            $m-b,
            $m-l
        );
    }
    @media (min-width: 1280px) and (max-width: 1439px) {
        @include responsive-content(
            $width * 0.88,
            $width,
            $defaultWidth,
            $fontSize,
            $lineHeight,
            $p-t,
            $p-r,
            $p-b,
            $p-l,
            $m-t,
            $m-r,
            $m-b,
            $m-l
        );
    }
    @media (min-width: 1440px) {
        @include static(
            $width,
            $defaultWidth,
            $fontSize,
            $lineHeight,
            $p-t,
            $p-r,
            $p-b,
            $p-l,
            $m-t,
            $m-r,
            $m-b,
            $m-l
        );
    }
}

@mixin mediaTransform(
    $width,
    $defaultWidth,
    $fontSize,
    $lineHeight,
    $p-t,
    $p-r,
    $p-b,
    $p-l,
    $m-t,
    $m-r,
    $m-b,
    $m-l
) {
    @media (max-width: 479px) {
    }
    @media (min-width: 480px) and (max-width: 639px) {
    }
    @media (min-width: 640px) and (max-width: 767px) {
    }
    @media (min-width: 768px) and (max-width: 1023px) {
        @include responsive(
            $width * 0.53,
            $width * 0.71,
            $defaultWidth,
            $fontSize,
            $lineHeight,
            $p-t,
            $p-r,
            $p-b,
            $p-l,
            $m-t,
            $m-r,
            $m-b,
            $m-l
        );
    }
    @media (min-width: 1024px) and (max-width: 1279px) {
        @include responsive(
            $width * 0.71,
            $width * 0.88,
            $defaultWidth,
            $fontSize,
            $lineHeight,
            $p-t,
            $p-r,
            $p-b,
            $p-l,
            $m-t,
            $m-r,
            $m-b,
            $m-l
        );
    }
    @media (min-width: 1280px) and (max-width: 1439px) {
        @include responsive(
            $width * 0.88,
            $width,
            $defaultWidth,
            $fontSize,
            $lineHeight,
            $p-t,
            $p-r,
            $p-b,
            $p-l,
            $m-t,
            $m-r,
            $m-b,
            $m-l
        );
    }
    @media (min-width: 1440px) {
        @include static(
            $width,
            $defaultWidth,
            $fontSize,
            $lineHeight,
            $p-t,
            $p-r,
            $p-b,
            $p-l,
            $m-t,
            $m-r,
            $m-b,
            $m-l
        );
    }
}
