@import './../../styles/mixins/fonts.scss';
@import './../../styles/mixins/font-faces.scss';
@import './../../styles/variables/colors.scss';
@import './../../styles/mixins/placeholder.scss';

.text-field {
    width: 320px;
    height: 44px;

    background: #ffffff;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    @include body-font;
    @include placeholder(padding, 15px);

    &:hover {
        border: 1px solid rgba(31, 32, 65, 0.5);
    }
    &:focus {
        border: 1px solid rgba(31, 32, 65, 0.5);
    }
}
