mixin text-field(text, name,placeholder)
    span.text-field-container
        input.text-field__input(
            type = 'text'
            value = text
            name = name
            placeholder = placeholder) 