@import './../../styles/mixins/fonts.scss';
@import './../../styles/variables/colors.scss';
@import './../../styles/mixins/placeholder.scss';
@import './../../styles/mixins/responsive.scss';

.text-field {
    &-container {
        display: grid;
    }

    &__input {
        display: grid;
        box-sizing: border-box;
        width: 320px;
        padding: 9px 10px 9px 14px;
        background: #ffffff;
        border-radius: 4px;
        border: 1px solid $dark-shade-25;
        @include body-font;
        // font-stretch: 100%;
        &:placeholder-shown {
            @include placeholder(color, $dark-shade-25);
            line-height: 18px;
            padding: 12px 0 12px 14px;
        }

        &:hover {
            border: 1px solid $dark-shade-50;
        }
        &:focus {
            border: 1px solid $dark-shade-50;
        }
    }
}
