extends ../ui-kit-template/ui-kit-template
include ../../components/checkbox-list/checkbox-list
include ../../components/checkbox/checkbox
include ../../components/slider/slider

block content
    +slider(['room-888','room-840','room-888','room-840',])
  

