mixin benefits(img,title,subtitle)
    section(class="benefits-block")
        section.benefits__main-container
            .benefits__img-container
                img.emotion-icon(src=`./img/${img}` alt=`${title}` width='40' height='40')
            .benefits__caption
                .benefits__title= title
                .benefits__subtitle= subtitle
        div.benefits__line-img
