mixin slider(array)
    .splide
        .splide__track
            .splide__list
                each v, i in array
                    .splide__slide 
                        img(class=".room-card__img" src=`./img/${v}.jpg` alt='room-img' width='270' height='151')
                    .splide__vignette-div-left
                    .splide__vignette-div-right
                    //-     img(class=".room-card__img" src=`./img/${array[1]}.png` alt='room-img' width='270' height='151')
                    //- .splide__slide 
                    //-     img(class=".room-card__img" src=`./img/${array[2]}.png` alt='room-img' width='270' height='151')

    //- .slider-block
    //-     .slider__item
    //-         img(class=".room-card__img" src=`./img/${array[0]}.png` alt='room-img' width='270' height='151')
