mixin slider(array)
    .splide
        .splide__track
            .splide__list
                .splide__slide 
                    img(class=".room-card__img" src=`./img/${array[0]}.png` alt='room-img' width='270' height='151')
                .splide__slide Slide 02
                    img(class=".room-card__img" src=`./img/${array[1]}.png` alt='room-img' width='270' height='151')
                .splide__slide Slide 03
                    img(class=".room-card__img" src=`./img/${array[2]}.png` alt='room-img' width='270' height='151')

    //- .slider-block
    //-     .slider__item
    //-         img(class=".room-card__img" src=`./img/${array[0]}.png` alt='room-img' width='270' height='151')
