button.splide__pagination__page.is-active {
    border: white;
    background: white;
    transform: none;
    padding: 1px;
}
.splide.is-initialized,
.splide.is-rendered {
    visibility: visible;
    width: 270px;
}
.splide__pagination .splide__pagination__page {
    background: transparent;
    border: 1px solid white;
    border-radius: 50%;
    display: inline-block;
    height: 7.5px;
    margin: 3px;
    opacity: 1;
    padding: 0;
    transition: transform 0.2s linear;
    width: 7.5px;
    border: 1px solid white;
}

.room-card__img-box .splide__arrow {
    background: transparent;
}

.room-card__img-box .splide__arrow svg {
    fill: white;
    opacity: 1;
    padding-left: 7px;
    height: 13px;
    width: 13px;
}

.room-card__img-box {
    &:hover {
        opacity: 1;
    }
    .splide__arrow--prev {
        left: 13px;
        opacity: 0;
    }
    .splide__arrow--next {
        right: 13px;
        opacity: 0;
    }
    .splide__pagination {
        display: grid;
        grid-template-columns: repeat(4, 11.25px);
        justify-content: end;
        bottom: 11.8px;
        left: 0;
        padding: 0 14.2px;
    }
}
.room-card__img-box :hover {
    .splide__arrow--prev {
        opacity: 1;
        transition: 0.55s opacity;
    }
    .splide__arrow--next {
        opacity: 1;
        transition: 0.55s opacity;
    }
    .splide__vignette-div-left {
        opacity: 1;
        transition: 0.55s opacity;
    }
    .splide__vignette-div-right {
        opacity: 1;
        transition: 0.55s opacity;
    }
}
.splide__vignette-div-left {
    position: absolute;
    width: 42px;
    height: 151px;
    opacity: 0;

    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.5) -250%,
        rgba(0, 0, 0, 0) 99.99%,
        rgba(255, 255, 255, 0) 100%
    );
}
.splide__vignette-div-right {
    position: absolute;
    left: 228px;
    width: 42px;
    height: 151px;
    opacity: 0;

    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.5) -250%,
        rgba(0, 0, 0, 0) 99.99%,
        rgba(255, 255, 255, 0) 100%
    );
    transform: matrix(-1, 0, 0, 1, 0, 0);
}